[2019-12-05 16:08] kgerheiser opened #2 "netcdf-fortran uses incorrect compiler flag for GCC on macOS"
On macOS, when building with GCC, netcdf-fortran attempts to use a Clang command-line option that doesn't exist in GCC.

`cc-mp-9: error: unrecognized command line option '-fmacro-backtrace-limit=0'; did you mean '-ftemplate-backtrace-limit='? `

The problem and fix are referenced[here on the NetCDF repo](https://github.com/Unidata/netcdf-fortran/issues/70), and the fix is to update this version o

[2019-12-05 18:02] kgerheiser opened #3 "Need to use .dylib on macOS instead of .so"
Macs use `.dylib` instead of `.so` for shared libraries and there are several places where `.so` is hardcoded. One for ESMF and one for netcdf-fortran. There is a portable CMake variable called `CMAKE_SHARED_LIBRARY_SUFFIX` which should be used instead.

[2019-12-05 20:02] kgerheiser opened #4 "Missing dependencies in CMake"
These just need to be added to the respective ExternalProject_Adds:

NCEPLIBS-g2 depends on Jasper

And Jasper depends on libpng

[2019-12-16 03:38] climbfuji opened #5 "Default install location and inability to change it"
Without specifying any install location, the NCEPlibs umbrella build tries to install everything in `/usr/local`. This is an absolute no-go. People may not want the curl, hdf5, ... that come with the umbrella build to go there and preserve their own/default dev environment The NCEPlibs umbrella build should be entire self-consistent and not interfere with any default locations. Thus, the default i

[2019-12-16 15:53] kgerheiser commented on #5
I noticed this too. I think we should make the default install directory be `CMAKE_BINARY_DIR/Install`

[2019-12-16 20:39] kgerheiser commented on #5
I made a PR that addresses this. It sets the install path to `CMAKE_BINARY_DIR/install".

[2019-12-16 22:37] climbfuji commented on #5
Great, thank you. I am working my way through the build on macOS, and I will have a PR ready soon for netcdf-fortran and other issues I encounter(ed) along the way.

[2019-12-18 21:32] climbfuji opened #9 "Use correct environment variables to detect ESMF"
(referring to ufs_release_1.0)

The `CMakeLists.txt` logic looks for `ESMF_LIB` to detect if ESMF is already installed on the system. The official way to detect and set ESMF (per ESMF developer guidance) is to set `ESMFMKFILE`, e.g.
[code]
`CMakeLists.txt` should only check for this environment variable, nothing else.

We should also check that for all other prerequisites, the standard/official va

[2019-12-20 15:31] #2 closed

[2019-12-20 15:31] #3 closed

[2019-12-20 15:31] #5 closed

[2019-12-20 16:08] kgerheiser commented on #9
I've got a fix

[2019-12-20 16:11] climbfuji commented on #9
Me too - I will see what you have and adjust my proposed changes to ufs_release_1.0 if needed.

I am using the findESMF.cmake package that comes with ESMF.

[2019-12-20 16:30] climbfuji opened #10 "Non-standard ESMF mod installation (ufs_release_1.0)"
https://github.com/NOAA-EMC/NCEPLIBS/blob/4eb0b72461e8e07bbf407ea7e13f02f0d4286091/CMakeLists.txt#L591

The ESMF installation that comes with the NCEPLIBS umbrella build installs the `.mod` files in the `include` directory. This is a non-standard installation and doesn't match the NOAA RDHPCS platforms (see, for example on hera: /scratch1/NCEPDEV/nems/emc.nemspara/soft/esmf/8.0.0-intel18.0.5.274-i

[2019-12-20 16:38] kgerheiser commented on #10
Shouldn't setting `ESMFMKFILE` and running `find_package` resolve where the `.mod` files are located regardless of where they were installed?

[2019-12-20 16:49] climbfuji commented on #10
Not unless we change the way how we handle the include directories. ESMFMKFILE contains, for example,
ESMF_LIBSDIR=/usr/local/gnu/esmf-8.0.0/lib
which we can use to compose the variable ESMF_LIB, but it doesn't contain something like ESMF_INCDIR or ESMF_MODDIR. It has:
[code]
but this is not very cmake-y. cmake wants a list of directories and then call include_directories(...) . So what I am doing

[2020-01-08 19:45] tclune opened #13 "Problems building on NASA platform"
This is a summary of the issues that I encountered trying to build from the instructions on NASA's discover cluster using the following modules:
[code]

[cmake.log](https://github.com/NOAA-EMC/NCEPLIBS/files/4036950/cmake.log)
[make.log](https://github.com/NOAA-EMC/NCEPLIBS/files/4036953/make.log)

Note:   the instructions indicated that the ESMF comm should be "intel", but I used "intelmpi" which

[2020-01-08 19:48] #4 closed

[2020-01-08 22:31] climbfuji commented on #13
Looks like a missing dependency on the png library in EMC_post. We are currently making a round of updates and once the PRs are merged (see https://github.com/NOAA-EMC/NCEPLIBS/pull/12) I would encourage you to try it again ... thanks for your feedback and efforts thus far!

[2020-01-09 04:48] climbfuji commented on #13
We just merged https://github.com/NOAA-EMC/NCEPLIBS/pull/12. Can you try this again, please, using the ufs_release_1.0 branch? libpng should be built as a dependency if needed.
[code]
By the way, the top-level CMakeLists.txt in this branch is referring to intelmpi for ESMF.

[2020-01-09 04:49] climbfuji commented on #10
Fixed by https://github.com/NOAA-EMC/NCEPLIBS/pull/12.

[2020-01-09 04:49] #10 closed

[2020-01-09 04:49] climbfuji commented on #9
Fixed by https://github.com/NOAA-EMC/NCEPLIBS/pull/12

[2020-01-09 04:49] #9 closed

[2020-01-09 04:53] climbfuji opened #14 "Host-dependent information in top-level CMakeLists.txt (and possibly other cmake modules)"
The top-level `CMakeLists.txt` file in the `ufs_release_1.0` branch contains host-model dependent information at the very top, i.e. in the block starting with line

https://github.com/NOAA-EMC/NCEPLIBS/blob/c05236ec666a5bd4d91beb96e7921b8049fb524e/CMakeLists.txt#L3

Do we want to keep this? I'd be in favor of removing this information and tell the user in the instructions to set `CC`, `FC`, and ot

[2020-01-09 14:40] tclune commented on #13
Note: there is no branch "ufs_release_1.0", but presuming that you meant "ufs_release_v1.0"  I found the same results as before.    Note that libpng is being built:
[code]
and
[code]

[2020-01-09 14:48] climbfuji commented on #13
Maybe it's got to do with libpng ending up in lib64 on your system? The NCEPLIBS-g2 library has the
find_package(PNG REQUIRED)
dependency. Could you print out the variables that this call sets right afterwards, please? See https://github.com/Kitware/CMake/blob/master/Modules/FindPNG.cmake . Specifically, let's look for (explanations are from the above website, ignore the add_definitions instructio

[2020-01-09 14:50] kgerheiser commented on #14
I think it should be removed

[2020-01-09 14:54] tclune commented on #13
Adding the message() statements to the CMakeLists.txt file did not trigger CMake for that library to reprocess.   Rather than trying to understand how the system interlinks the various packages, I'm blowing the build away and starting over with a serial build.    But if there is a better way to reset a single package, please let me know for the future.

[2020-01-09 18:30] climbfuji opened #17 "cmake version required"
The top-level CMakeLists.txt says the minimum required version is 3.6. Is this sufficient? Does this version have all the capabilities to find and set the OpenMP flags? Can we expect the required version to be available on all platforms?

If not, we could bundle a more recent version of cmake with the umbrella build. Depending on which version is detected, the bundled version could be installed an

[2020-01-09 18:30] tclune commented on #13
Very confused now.   My second attempt, where the only change was with the message() statements appeared to have completed cleanly while I was at lunch.     The big difference would seem to be that the second build was done without "-j" parallelism.      Hopefully that is the issue, or we have a more serious non-reproducibility issue.

For the record here i the extra output that was requested:

[c

[2020-01-09 18:42] climbfuji commented on #14
Related issue for CMakeModules: https://github.com/NOAA-EMC/CMakeModules/issues/5

[2020-01-09 18:49] climbfuji commented on #13
So it seems that libpng should not have been built in the first place if it is already installed on the system. Can you check if it was still built but just not used? Thanks!

[2020-01-10 23:23] climbfuji commented on #17
Regarding OpenMP: according to the cmake documentation, version 3.1.3 has the required flags I believe:

https://cmake.org/cmake/help/v3.1/module/FindOpenMP.html

OpenMP_C_FLAGS - flags to add to the C compiler for OpenMP support
OpenMP_CXX_FLAGS - flags to add to the CXX compiler for OpenMP support
OpenMP_Fortran_FLAGS - flags to add to the Fortran compiler for OpenMP support
OPENMP_FOUND - true

[2020-01-14 20:42] jedwards4b opened #20 "Building ufs_release_v1.0 on MACOS"
I have gcc-9 with netcdf installed in /usr/local
[code]

[2020-01-14 20:46] kgerheiser commented on #20
I think that's just a warning. If you run make does it build?

If you don't have ESMFMKFILE defined in your environment then it should build ESMF.

[2020-01-14 20:47] jedwards4b commented on #20
No make results with
[code]

[2020-01-16 17:36] jedwards4b opened #21 "Update chgres to latest develop"
Please see https://github.com/ufs-community/ufs-mrweather-app/issues/58#issuecomment-574454266
Can you please test the latest chgres_cube from develop and if it works merge it to ufs_public_release_v1.0?

[2020-01-17 19:29] jedwards4b commented on #21
@climbfuji I tried to do this myself but the cmake interfaces were removed from the develop branch, so I tried to merge ufs_release_v1.0 into develop but that isn't working either.

[2020-01-18 03:18] climbfuji commented on #21
Sounds like we need to do a manual update of ufs_release_v1.0 with those changes. @GeorgeVandenberghe-NOAA is it correct that you made the updates to "develop"? Would you be able to make the same updates to "ufs_release_v1.0" that fix the chgres_cube problem?

[2020-01-18 05:09] GeorgeVandenberghe-NOAA commented on #21
I suspect it's George Gayno who maintains chgres. Not sure what changes we
are talking about.  I did make changes in the build to get rid of machine
dependencies but never committed them

On Friday, January 17, 2020, Dom Heinzeller <notifications@github.com>
wrote:

[2020-01-18 13:40] climbfuji commented on #21
I am sorry. Still confused who is doing what at the East Coast ... @GeorgeGayno-NOAA would you be able to make the same updates to "ufs_release_v1.0" that you made to "develop" to fix the chgres_cube problem for the UFS public release? It seems that the codebases are different enough to prohibit merging. Thank you!

[2020-01-21 18:42] jedwards4b commented on #21
I have submitted PR https://github.com/NOAA-EMC/UFS_UTILS/pull/45 with this change in chgres_cube.

[2020-01-21 18:45] climbfuji commented on #21
@jedwards4b I will wait for @GeorgeGayno-NOAA to approve, then I can merge it and update the submodule pointer in the umbrella build. Thanks!

[2020-01-21 22:15] climbfuji commented on #21
Merged.

[2020-01-21 22:15] #21 closed

[2020-01-22 20:30] mkavulich opened #23 "WRFIO library"
The new wrfio library is necessary for building EMC_post (stand-alone), but is not included here yet. Would it be possible to include this library in the umbrella build?

https://github.com/NOAA-EMC/NCEPLIBS-wrf_io

[2020-01-22 21:02] climbfuji opened #24 "Improvement: detect MPI type when building ESMF"
I am wondering if it is possible to detect the MPI type using cmake and set the cmake variable MPITYPE, required for building ESMF, automatically.

[2020-01-22 21:14] kgerheiser commented on #24
I was just looking this up yesterday. I believe you could. If you look at this:

https://gitlab.kitware.com/cmake/cmake/blob/master/Modules/FindMPI.cmake#L213

`MPI_DETERMINE_LIBRARY_VERSION``
  For each language, find the output of ``MPI_Get_library_version`` and make it available as ``MPI_<lang>_LIBRARY_VERSION_STRING``.
  This information is usually tied to the runtime component of an MPI imple

[2020-01-22 21:17] climbfuji commented on #24
That's great! Let me know which machines I should test on to cover other MPI implementations.

[2020-01-22 21:21] climbfuji commented on #24
This is the output/contents of `MPI_C_LIBRARY_VERSION_STRING` for mpich-3.3.1, built with LLVM clang + GNU gfortran on my macOS:
[code]

[2020-01-22 22:04] climbfuji opened #25 "Dependencies for building jasper (and other parts)"
On a clean Mac, building jasper fails because libjpeg cannot be found. What is our position on this? Should we require the user to install libjpeg via homebrew (inconsistent with the idea to provide all these thirdparty libraries and only requiring a working compiler and mpi library), or do we want to add it to the thirdparty libraries bundled with the umbrella build?

[2020-01-23 15:12] climbfuji commented on #25
Similar story for libpng. I would say we should tell users to install libpng, jpeg and jasper using their OS package manager and not care about them at all.

[2020-01-23 15:15] kgerheiser commented on #25
We already include png, so I think we should include jpeg as well, unless we want to remove png and jasper.

[2020-01-23 15:16] climbfuji commented on #25
Ok, then something else isn't working correctly, because it either didn't find or build libpng on my Mac.

[2020-01-23 15:39] climbfuji commented on #25
Now I see why jasper comes with the NCEPLIBS build, the default version from homebrew doesn't work (the infamouse image.inmem issue). Since users may have this version of jasper installed, we should probably always build it and ignore the OS version.

Now removing homebrew's jpeg, libpng and jasper ... I am working off the old/current CMakeLists.txt that uses external projects. If I added jpeg9d t

[2020-01-23 15:44] kgerheiser commented on #25
I think the `inmem` problem can be solved by getting rid of the two lines of code that use it in NCEPLIBS-g2. It seems this project (https://github.com/cloudruninc/wps/issues/5) uses the same exact file and had the same exact issue and they just got rid of those two lines here (https://github.com/cloudruninc/wps/commit/a2fad80cc0ff8c1cba259f5aecc1b7393129cc00).

I don't think they are important.

[2020-01-23 15:46] climbfuji opened #26 "Misleading log message from top-level CMakeLists.txt"
On a system w/o hdf5 or netCDF, the cmake call produces the following output:
[code]
The second line is ok, the first line is wrong/misleading. Looking at CMakeCache.txt, it is "finding" the version that is going to be built and installed as part of the NCEPLIBS umbrella build.

[2020-01-30 20:20] climbfuji commented on #25
The jpeg library is now included. Do we still want to fix the two lines in for jasper?

[2020-01-30 20:26] kgerheiser commented on #25
I made the change in NCEPLIBS-g2 to remove the reference to `inmem`, and it made it into the repo with the PRs today, so I say we leave it unless we find that it breaks something.

[2020-01-30 20:30] climbfuji commented on #25
Oh great, thanks. I must have missed the change in the g2 library. So we can close this issue?

[2020-01-30 20:31] kgerheiser commented on #25
Closing

[2020-01-30 20:31] #25 closed

[2020-01-31 17:09] christopherwharrop-noaa opened #29 "Why not use https for submodule URLs?"
Is there a particular reason why all of the NOAA-EMC submodules are configured to use the git protocol for cloning instead of https? While one can add ssh keys to their GitHub accounts, it's pretty annoying to have to do that.  It would make things a lot easier and more usable, in my opinion, if everything just referenced the https URL instead.

[2020-01-31 17:11] climbfuji commented on #29
Where are you looking at? The instructions on the wiki should already use https, and the correct branches (release/public-v1) also use https throughout.

[2020-01-31 17:21] christopherwharrop-noaa commented on #29
I am looking at the master, which is the default branch. You are correct, the release/public-v1 branch does use the https throughout. When the release is final, it will be merged to master I hope?

[2020-01-31 17:23] climbfuji commented on #29
Yes, the release branches will be kept for bugfixes specific to release, but master will be updated when the release is finalized.

[2020-01-31 17:24] christopherwharrop-noaa commented on #29
Why are their two release v1 branches and how are they different?

[2020-01-31 17:26] kgerheiser commented on #29
The branch `release/public-v1` is the official release branch. The branch `ufs_release_v1.0` was where we were doing our development before we finalized the branch names, and will be removed at some point in the near future.

[2020-01-31 17:34] christopherwharrop-noaa commented on #29
The wiki says to use `ufs_release_v1.0`.  Where is the development happening now?  In the official release branch? Or the one mentioned in the wiki?  This highlights one of the problem that occurs when you do not also have a "develop" branch that contains stable, non-release, versions of the code and that is updated quickly with tested developments.

[2020-01-31 17:40] kgerheiser commented on #29
Development is now happening on the `release/public-v1` branch. We just created and moved to the to that branch yesterday. It was created from  the `ufs_release_v1.0`, and currently they are identical (or mostly identical).

The wiki will be updated today to reflect the most recent developments.

[2020-01-31 17:40] christopherwharrop-noaa commented on #29
Ok.  Thank you for clarifying.

[2020-01-31 17:40] #29 closed

[2020-01-31 17:41] climbfuji commented on #29
Chris, you may want to know that we have been asked to change names of branches and tags several times over the last few months, faster than we are able to update documentation. The branch names are not up to us to decide, we follow the guidelines from the relevant people in charge of the UFS release.

Also, it's not written here, but we are supposed to finalize this v1 and create a beta tag by Mo

[2020-02-07 02:39] climbfuji commented on #24
This has been implemented.

[2020-02-07 02:39] #24 closed

[2020-02-07 02:40] climbfuji commented on #17
The minimum cmake version is set to 3.14, with which the code builds on Cheyenne.

[2020-02-07 02:40] #17 closed

[2020-02-07 02:41] climbfuji commented on #14
The host-model dependent information has been removed entirely.

[2020-02-07 02:41] #14 closed

[2020-02-07 02:47] climbfuji opened #35 "Logical flaw in combination with NCEPLIBS-external"
There is a flaw in the logic for building NCEPLIBS and NCEPLIBS-external if not all packages are built by NCEPLIBS-external. For example, when -DBUILD_MPI=OFF -DBUILD_NETCDF is used for building NCEPLIBS-external, the user must set the environment variables MPI_ROOT and NETCDF prior to compling NCEPLIBS (regardless of whether the packages can be found because they are in the system library search

[2020-02-07 02:51] climbfuji commented on #35
@mark-a-potts @kgerheiser @DusanJovic-NOAA if you have any ideas that are better than my first one, namely to call the `find_package` command for each of those libraries beforehand and then test for `XYZ_NOT_FOUND` in addition to testing for the environment variable, please share your wisdom.
[code]

[2020-02-07 23:30] climbfuji opened #36 "Library install destination is hard-coded to lib"
This issue is for the long-term development, not for the upcoming UFS release in March/February 2020.

The NCEPLIBS all have hardcoded library installation locations (and same for binary etc):
[code]
Shouldn't these be matching the host's library installation directories, e.g. use `${CMAKE_INSTALL_LIBDIR}` instead of `lib`?

[2020-02-10 19:48] kgerheiser opened #37 "Debug Build"
It would be nice to have a debug build where we set: `-g -O0 -Wall -fbacktrace -fcheck=all` and the Intel equivalents

[2020-02-10 20:34] climbfuji commented on #37
It would be! I am just worried that we break something if we rush this in before the release. What do you think?

[2020-02-10 20:44] kgerheiser commented on #37
I agree. I'm not in a rush to make large changes right now, but once we have a working, tested build this would be nice to have and it would be pretty easy

[2020-02-12 02:27] kgerheiser opened #41 "Problem with static libs using ifort/icc on macOS"
I was having trouble building NCEPLIBS with ifort on my Mac as I was discussing with @mark-a-potts.

The issue was linking the NCEP-post executable:

[code]

So, it's missing the symbol `_cmassi_mod_mp_cn0r0` (among others), but then you look at the symbols in `libnceppost.a` by running nm:

[code]

and you clearly see the symbol right there in `CMASSI.f.o`, which is in the very same library.

So,

[2020-02-12 03:08] climbfuji commented on #41
Wow. Great investigation and explanation. Looking forward to your PRs. Thanks!

[2020-02-13 17:33] kgerheiser commented on #41
Fixed via #43

[2020-02-13 17:33] #41 closed

[2020-02-13 17:40] kgerheiser commented on #20
I think this is fixed now

[2020-02-13 17:40] #20 closed

[2020-02-13 17:41] kgerheiser commented on #26
These libraries are no longer built in this repo

[2020-02-13 17:41] #26 closed

[2020-02-13 17:50] kgerheiser commented on #35
This was fixed by #38, right?

[2020-02-13 17:52] climbfuji commented on #35
Yes, fixed in #38.

[2020-02-13 17:52] #35 closed

[2020-02-24 16:31] climbfuji opened #53 "Logical flaw when creating the shell script to set environment variables"
On systems where netCDF is loaded as a module, the current logic searches for it using
[code]
in the top-level `CMakeLists.txt`. This requires the environment variable `NETCDF` to be set when invoking cmake, but it does not set the `NETCDF` cmake variable. As a consequence, the scripts `setenv_nceplibs.sh` and `setenv_nceplibs.csh` are populated with
[code]
If netCDF is built as part of NCEPLIBS-e

[2020-02-24 16:32] climbfuji commented on #53
@kgerheiser @mark-a-potts FYI

[2020-02-24 16:49] climbfuji commented on #53
This will be fixed by https://github.com/NOAA-EMC/CMakeModules/pull/23.

[2020-03-04 17:47] climbfuji commented on #53
Fixed.

[2020-03-04 17:47] #53 closed

[2020-03-13 20:47] climbfuji opened #67 "Missing -fPIC flag for all NCEPLIBS-*/EMC_post/UFS_UTILS"
The NCEPLIBS cannot be linked into dynamic libraries, because they are missing the `-fPIC` flags during compilation/linking.

[2020-03-13 20:48] climbfuji commented on #13
Following up. Have you tried the official release tags of NCEPLIBS-external and NCEPLIBS on the NASA platform? If yes, does it work? If this ticket is no longer relevant, please close it. Thanks!

[2020-03-13 23:44] kgerheiser commented on #67
So, what do we have to do? Do we have to add that flag to every repo?

[2020-03-13 23:55] aerorahul commented on #67
No. If you build a dynamic library, -fPIC is added automatically. We are building static libraries.
add_library(libName STATIC sources)

[2020-03-13 23:59] aerorahul commented on #67
set(CMAKE_POSITION_INDEPENDENT_CODE ON)

But, CMAKE_POSITION_INDEPENDENT_CODE property is set by default for SHARED targets, there is no need to set it explicitly

[2020-03-15 12:40] climbfuji commented on #67
We should try this as long as we can (the only application of this I am aware of at the moment is the "old dynamic CCPP build", which will be removed soon), or decide to not support linking static NCEP libraries to a dynamic library *.so / *.dylib.

[2020-03-15 15:52] aerorahul commented on #67
@climbfuji Are you advocating we build shared libraries for NCEPLIBS?
There is no need to add the line
`set(CMAKE_POSITION_INDEPENDENT_CODE ON)`
if we are building static NCEPLIBS.  And by that I am excluding applications under `UFS_UTILS`, `NCEP_POST`, etc.
That property is set by default if shared libraries are being built.
Either way, there is no need to add that line in any of the `CMakeLists.

[2020-03-15 16:35] climbfuji commented on #67
Right now there is one use case only, and as I said it will go away. But if we can easily create both, then why not? Any negative implications other than build systems mistakenly picking up the wrong = shared libraries instead of the static libraries? Or use a CMake option to enable it explicitly if needed?

The use case is: the dynamic CCPP build first builds `libccpp.{so,dylib}` and `libccppphys

[2020-03-16 12:31] tclune commented on #13
Well, it worked well enough for that immediate action.   (We were exploring whether we had a suitable environments for development of code that coupled in some NASA components.)   I'll close for now and reopen if/when the work begins in earnest.

[2020-03-16 12:31] #13 closed

[2020-04-15 16:09] edwardhartnett opened #68 "Build not working on Ubuntu system"
I am trying to build but there is a failure. It's complaining that NETCDF is not set, but it is set, and the directory it is set to has an include and lib subdirectory with the netCDF include files and libraries.

The NCEPLIBS-external build does not work for me, so the external libraries were installed manually, all into the same directory.

[code]

[2020-04-15 16:21] climbfuji commented on #68
Thanks for reporting this. We have mostly tested this for the combination of NCEPLIBS-external and NCEPLIBS. The version of findNetCDF.cmake in NCEPLIBS relies on pkg-config. Can you check that the pkg-config for netCDF and netCDF-Fortran is ok? Should be in `lib/pkgconfig/netcdf.pc` and `lib/pkgconfig/netcdf-fortran.pc` underneath $NETCDF. Mine are:
[code]
and
[code]

[2020-04-15 17:14] edwardhartnett commented on #68
Good question! I will check...

[2020-04-15 17:16] edwardhartnett commented on #68
Seems to be there:

[code]

[2020-04-15 20:09] edwardhartnett commented on #68
OK, that was a sufficient clue! ;-)

pkg-config was not finding the .pc files because they are not in the path that it normally searches. Instead, they are under the netCDF install. (Is this a bug in the netCDF install?)

So I had to do this:
`export PKG_CONFIG_PATH=/usr/local/NCEPLIBS-external/lib/pkgconfig`

This causes the build system to find netcdf C and fortran OK, so that's good.

Now I see

[2020-04-15 21:05] edwardhartnett commented on #68
@climbfuji question for you: when I am specifying something like JPEG_LIBRARIES, do I specify the directory that holds the library? Or do I provide the complete path to the library, including library name?

In other words, do I use:

 `-DJPEG_LIBRARIES=/usr/lib/x86_64-linux-gnu
`
or

` -DJPEG_LIBRARIES=/usr/lib/x86_64-linux-gnu/libjpeg.so`

[2020-04-15 21:58] kgerheiser commented on #68
The better option is to set `-DWGRIB2_ROOT=<path>` where path is the top-level  install location (generally contains `lib` and `include`) and let the find module find the libraries

[2020-04-15 22:17] climbfuji commented on #68
@edwardhartnett even if you are not using NCEPLIBS-external, the documentation there (how to specify environment variables for packages that you want to compile separately/outside of NCEPLIBS-external) may be helpful? I am wrapped up in meetings all day today, sorry for my slow response.

[2020-04-15 22:20] kgerheiser commented on #68
We don't call `find_package_handle_standard_args` in FindWGRIB2.cmake which kind of obfuscates the problem of it not finding the library.

[2020-04-16 18:09] edwardhartnett commented on #68
OK, there were some issues with my install of wgrib2. I had to go to NCEPLIBS-external CMakeLists.txt where I found that I have to do `make lib` to get the extra libraries, and then looked at the script NCEPLIBS-external/wgrib2/install.sh to see that I should do this:

[code]

So now wgrib2 is found!

On to the next issue. I am seeing this message:
[code]

[2020-04-16 18:32] kgerheiser commented on #68
`ESMFMKFILE` should point to `esmf.mk` (the full path including the file) which is found in lib of wherever ESMF is installed

[2020-04-16 19:57] climbfuji commented on #68
The reason for this approach is the directions by ESMF to only use ESMFMKFILE to detect and configure an ESMF installation.

[2020-04-16 20:01] edwardhartnett commented on #68
OK, so funny think is that ESMF does not install that file with the files that it does install. However, I set this to the file in the esmf build directory and it found the ESMF libraries.

` export ESMFMKFILE=/home/ed/NCEPLIBS-external/esmf/lib/libO/Linux.gfortran.64.mpiuni.default/esmf.mk`

Now I am stuck on this:
[code]

I'm not sure what is going on. pkg-config is finding jasper.pc:

[code]

[2020-04-17 15:35] edwardhartnett commented on #68
OK, awesome, the build worked for me! How exciting! ;-)

Here's how it worked:
[code]

Thanks for all the help! I will close this issue.

I have started an issue for netcdf-c about where we install our pkg-config info.

Thanks again!

[2020-04-17 15:35] #68 closed

[2020-04-17 16:34] edwardhartnett opened #69 "Use of gerrit intentional in two submodules on the master branch?"
In the branch ufs-v1.0.0 in .gitmodules you have:

[code]

In the master branch you have:

[code]

Is the use of gerrit in the case of these two libraries intentional?

It is making it difficult to set up CI on the master branch...

[2020-04-17 16:53] kgerheiser commented on #69
Don't try to use the master branch. It is not maintained and is not meant to be a usable state of the project. This is how the NCEPLIBS umbrella build looked 6 months ago before we moved to the `release/public-v1` branch when we were first starting and it hasn't been touched since.

[2020-04-17 17:25] climbfuji commented on #68
Thanks for your feedback and for making it work despite all the hiccups along the way. For the next release of the UFS, expect an improved version of NCEPLIBS-external and `findNetCDF.cmake` that works without `pkg-config`, amongst other things.

[2020-04-17 17:39] edwardhartnett commented on #68
I would suggest we coordinate wrt netcdf-c and netcdf-fortran. The newest release now includes optional support for szip, and that is something people will be interested in. Unfortunately it complicated the LDFLAGS situation.

When I look at NCEPLIBS master branch I see this in the .gitmodules:

[code]

You should not be using the master branch. You should be using the last stable release.

It's a

[2020-04-17 17:41] edwardhartnett commented on #69
OK, so what branch is used for development?

[2020-04-17 17:58] edwardhartnett commented on #69
Let me re-phrase the question: if I submit a PR to bring master up to date with release/public-v1, will you merge it to master?

I am trying to set up a demonstration of using travis continuous integration, and it would be helpful if master actually represented the latest working build, which is public-v1.

Then, development can continue on master, preparing for public-v2, and PRs against master w

[2020-04-17 18:26] kgerheiser commented on #69
I'm not sure what our strategy here is.

I agree that master should not be in its current state while being our default branch. I'm not against bringing master up-to-date with `release/public-v1` if to just have it be something sane, but as a long term solution I think the release branch should be our master branch with a `develop` branch to bring changes into there.

 Thoughts @climbfuji, @mark-a

[2020-04-17 18:28] kgerheiser commented on #68
I'm not sure if this was before you saw my comment, but we do not build NetCDF again in there. That was before we split out the external libraries into a separate repo a long time ago and this is not what we do.

[2020-04-17 18:31] edwardhartnett commented on #69
The general practice is not to have the release branch be the master branch, but a branch from the master branch.

The point of a develop branch is that master stays somewhat more stable, but still ahead of the most recent release, and develop changes every day with multiple contributors. That does not seem to be the level of activity I see on this repo.

However, the first step is to bring master

[2020-04-17 18:31] kgerheiser commented on #69
Sure, the more I think about it the more that seems like a better idea.

[2020-04-17 18:33] edwardhartnett commented on #68
@kgerheiser thanks for the explanation. ;-)

[2020-04-17 18:36] edwardhartnett commented on #69
Awesome. I have submitted a PR.

[2020-04-17 19:25] edwardhartnett commented on #69
This was fixed in PR #70

[2020-04-17 19:25] #69 closed

[2020-04-20 13:35] edwardhartnett opened #71 "Build should install bin/setenv_nceplibs.* on make install, not on cmake invokation"
The normal thing to do is to build a package in a local directory, and then use sudo to do the make install into a system directory.

But this does not work with NCEPLIBS. The cmake invocation fails in this case because I don't have permissions at the time cmake is run.

This seems to be so that the files setenv_nceplibs.* (sh and csh) can be installed. Instead, this files should be installed by m

[2020-05-01 12:58] edwardhartnett opened #72 "Versions in library names?"
I see the built libraries have a version number in the name:
libbacio_v2.2.0_4.a

This is pretty non-standard and requires that all using build systems change each time a new release is made of any of these libraries.

Has there been discussion of moving to a more standard naming, where the library would be called libbacio.a?

[2020-05-02 02:54] kgerheiser commented on #72
Yes, this has been brought up. I (and others) don't like how the version is appended to the end of the library name.

It is done this way to keep it consistent with the way the libraries are currently installed for NCO. So, we just decided to keep it like this for public release as well. In the future we'd like to move it to a more sane naming scheme.

[2020-05-07 16:19] kgerheiser commented on #71
Fixed with #73

[2020-05-07 16:19] #71 closed, assigned to nobody

[2020-05-07 17:38] aerorahul commented on #72
wouldn't it make sense to keep this issue open until a resolution is reached.  Once it is closed and disappears, it will be hard to keep this in mind.

[2020-05-07 17:43] kgerheiser commented on #72
My idea for the next release is to A. remove the version names, and B. instal each library in its own folder rather than in one big `/lib`

[2020-05-07 19:12] edwardhartnett commented on #72
The install should be determined by CMake. That is, if the user has built NCEPLIBS with CMake and set CMAKE_INSTALL_PREFIX, then that's where the library should be installed. The default should be /usr/local/lib.

In general, most users are going to want all the NCEPLIBS in one directory. Each install directory has to be passed into the build somehow, so having each library in a different director

[2020-05-07 19:18] aerorahul commented on #72
@edwardhartnett That philosophy works well for system libraries.
In development environment, where we often have multiple versions of the NCEPlibs, this paradigm breaks. These libraries are often loaded by modules (on HPC's and increasingly even on linux workstations/macs). We are hoping to keep both options.  Those who want to keep all the libraries together can still do so, while those who want

[2020-05-07 19:25] edwardhartnett commented on #72
The existing CMake system already allows for both. You simply need to respect CMAKE_INSTALL_PREFIX.

In that way, complex installs, which need multiple versions, can be installed in numerous directories with whatever local naming scheme suits the local sysadmins.

Simple users, like the lone scientist installing UFS on a linux workstation, will just dump everything in one directory.

[2020-05-07 19:28] aerorahul commented on #72
@edwardhartnett you are correct `CMAKE_INSTALL_PREFIX` should be respected.  Scripting will be required, to make that variable change from library to library when having segregated installations.  We can shelve this discussion till it is actually picked up for work again.

[2020-05-08 14:19] climbfuji commented on #37
@kgerheiser @mark-a-potts @aerorahul there was a question today at the UFS code manager meeting whether we have a debug mode for the NCEPLIBS. Is this something we want to provide in the near future? There is an effort to enable a debug mode for every component used by the UFS (and the UFS build system will then switch to use the debug version of external libraries so as NCEPLIBS). Thanks!

[2020-05-08 14:19] climbfuji commented on #37
@DusanJovic-NOAA @junwang-noaa FYI

[2020-05-08 14:31] aerorahul commented on #37
In cmake you can build with DEBUG as your build type.
I don't think all the libraries have all the appropriate DEBUG flags currently, but I don't see why that cannot be added.
I don't see why would any UFS component developer want to deep dive in debugging NCEPlibs.
Also, is this the right path? Are they going to build all the external libraries e.g. esmf, netcdf, hdf5, etc. in debug mode? To me N

[2020-05-08 14:50] climbfuji commented on #37
Certainly they do for ESMF (they have already done, this is incredibly useful). Others may be added if needed. But NCEPLIBS is certainly on the wishlist.

[2020-06-15 14:45] kgerheiser opened #74 "Update NCEPLIBS CMake Config"
- [x] bacio
- [ ] bufr
- [x] crtm
- [x] g2
- [x] g2tmpl
- [x] gfsio
- [x] grib_util
- [x] ip
- [x] landsfcutil
- [x] nemsio
- [x] nemsiogfs
- [x] sfcio
- [x] sigio
- [x] sp
- [x] w3emc
- [x] w3nco

[2020-06-15 14:48] DusanJovic-NOAA commented on #74
Please take another look at https://github.com/NOAA-EMC/NCEPLIBS-g2/pull/13 and merge it.

[2020-06-15 19:07] aerorahul commented on #74
@kgerheiser CRTM PR is [here](https://github.com/NOAA-EMC/EMC_crtm/pull/8).

[2020-06-17 18:17] kgerheiser opened #75 "Add a message when library is found"
What do you think of adding a message when the package is found, the same as when zlib, or PNG is found, for example:

Then in the package config file we put:

[code]

And pre-config it would look like:

[code]

Thoughts @aerorahul

[2020-06-17 20:26] aerorahul commented on #75
@kgerheiser
I think this is a good idea to notify the user that a package was requested and found along with the version number.

[2020-06-18 14:07] kgerheiser commented on #72
This has been fixed in the develop branch of all libraries

[2020-06-18 14:07] #72 closed, assigned to nobody

[2020-06-18 14:58] kgerheiser commented on #75
Any idea why the version doesn't show up? I query the property `VERSION` and it isn't set, but there's the `g2-config-version.cmake` which has the version. And the version is passed to `configure_file` too. It seems like it should be available somehow. Should it be a configure variable, like `set(version @PROJECT_VERSION@)`?

[2020-06-22 17:17] kgerheiser commented on #75
Done

[2020-06-22 17:17] #75 closed, assigned to nobody

[2020-06-22 17:18] kgerheiser commented on #74
Done

[2020-06-22 17:18] #74 closed, assigned to nobody

[2020-06-23 15:12] aerorahul commented on #75
@kgerheiser
Sorry for the late follow up.
We are creating a basic package version file.  You just need to include it in your package-config file. It sets the variable `PACKAGE_VERSION`
For e.g.
[code]

[2020-06-23 15:18] kgerheiser commented on #75
Oh, ok that makes sense

[2020-06-23 16:26] mark-a-potts opened #79 "Alternate Install structure that allows for a simple CMAKE_PREFIX_PATH setting"
The instruction how to build, for example UFS_UTILS, in the last paragraph:

_To use these libraries in applications such as UFS_UTILS:_

[code]

does not work, because libraries are installed as:

[code]
instead of:
[code]
This basically means that the location of each library must be provided by ``<libname>_ROOT`` probably using environment modules, which is fine on HPC systems but very inconven

[2020-06-23 16:29] mark-a-potts commented on #79
I am a little late to this discussion, but I agree with Dusan that the new directory structure is much less desirable for installs on non-NOAA/NCAR systems. I think it should be fairly simple to provide an alternate/optional install structure that would allow for the use of a single CMAKE_PREFIX_PATH for users who are building only a single version of NCEPLIBS.

[2020-06-23 17:03] kgerheiser commented on #79
I do like the convenience of being able to set `CMAKE_PREFIX_PATH` for a quick and dirty build.

Maybe when `-DDEPLOY=ON` it's installed in the hierarchical structure and when it's not it's installed in the flat structure?

I agree that it's better to be explicit than implicit by using `<package>_ROOT` instead of a blanket `CMAKE_PREFIX_PATH`, because it could lead to confusing behavior, but when

[2020-06-23 17:03] aerorahul commented on #79
@mark-a-potts
This was extensively discussed [here](https://github.com/NOAA-EMC/NCEPLIBS/pull/76#issuecomment-647178700)

[2020-06-23 17:06] aerorahul commented on #79
@mark-a-potts @kgerheiser
If DEPLOY is OFF, one can make an assumption that modulefiles are not desired and paths are flat.
Is that a good compromise?

[2020-06-23 17:07] aerorahul commented on #79
gaah, I just read the comment from @kgerheiser

[2020-06-23 17:09] mark-a-potts commented on #79
Yes, I realize that, and apologize for not chiming in earlier. I can
certainly see the advantage to the new directory structure for
sys-admins and overall maintenance. I like the DEPLOY compromise
suggested by both Kyle and Rahul.

-M

On 6/23/20 1:03 PM, Rahul Mahajan wrote:

[2020-06-23 17:20] DusanJovic-NOAA commented on #79
In simple-ufs I ended up with:
[code]
not terrible, but not as convenient as just setting ``CMAKE_PREFIX_PATH``.

[2020-06-24 04:31] #79 closed, assigned to nobody

[2020-06-24 22:15] mark-a-potts opened #81 "Add bufrlib to the NCEPLIBS umbrella build."
I am currently updating the GSI build system to work with the new NCEPLIBS builds, but it needs bufrlib. If we could get it added in to the umbrella build, that would be great.

[2020-06-25 00:01] aerorahul commented on #81
@mark-a-potts
The current cmake bufrlib compilation in the public release [here](https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/release/public-v1/CMakeLists.txt) has a little too many peculiarities.  Can someone explain what the different `kinds` are [here](https://github.com/NOAA-EMC/NCEPLIBS-bufr/blob/4b4dfaeaa3793c86ea25b9417f381f518a235cdf/CMakeLists.txt#L86) and if they are all needed? Or wou

[2020-07-07 15:56] aerorahul commented on #23
closed via #84

[2020-07-07 15:56] #23 closed

[2020-07-13 14:04] neekumar1 opened #87 "Unable to register on the support forum for UFS."
Hello All, I tried to register myself on support forum to post issues faced while building NCEPLIBS. However, after registering my email, I received a pop up saying that further details for account creation are sent to email. But I did not receive any such mail. Please look into the issue. Thanks

[2020-07-13 14:06] kgerheiser commented on #87
Perhaps an obvious question, but have you looked in your spam folder?

If you have any build issues you can post that on Github too. I think it's actually preferable to the forum.

[2020-07-13 14:09] climbfuji commented on #87
I posted an issue on the UFS forum as well to record this: https://forums.ufscommunity.org/threads/user-not-receiving-emails-when-registering-ufs-forum

[2020-07-13 18:01] #81 closed, assigned to nobody

[2020-07-13 22:08] aerorahul opened #89 "WARNINGS during NCEPLIBS umbrella build"
Some NCEPLIBS do not depend on `C` or on `Fortran` compiler.
Some NCEPLIBS have no use for the `ENABLE_TESTS` option.

During configuration, all NCEPLIBS in the loop are provided the following cmake arguments:

[code]

which lead to the annoying warnings such as:

[code]

[2020-07-16 05:51] neekumar1 opened #91 "Issue while building with Clang and Gfortran"
Hello All, I was trying to build NCEPLIBS with clang and gfortran on Linux Ubuntu 18.04

. NCEPLIBS-external got built successfully. But I am facing following errors while building NCEPLIBS.
"
[ 59%] Linking Fortran executable nhour
 /usr/bin/ld: ../../../NCEPLIBS-w3nco/libw3nco_v2.1.0_8.a(summary.c.o): relocation R_X86_64_32 against `.rodata.str1.1' can not be used when making a PIE o bject; reco

[2020-07-16 06:00] neekumar1 commented on #87
Hi @kgerheiser, sorry for the delay in response, I have checked my spam folder, still there is no automated email for account creation.
Thanks @climbfuji for posting the issue on UFS forum.
However as per the suggestion, I have posted my issue on a new thread. Please have a look and suggest.
Thanks.

[2020-07-16 14:53] kgerheiser commented on #91
Could you run `make VERBOSE=1` so I can see the link flags?

I don't why it's making PIE.

[2020-07-16 17:18] neekumar1 commented on #91
Please find the attached log file with make VERBOSE=1.
[buildlog.NCEPLIBS.Thu_Jul_16_222542_IST_2020.txt](https://github.com/NOAA-EMC/NCEPLIBS/files/4933080/buildlog.NCEPLIBS.Thu_Jul_16_222542_IST_2020.txt)

[2020-07-16 17:41] kgerheiser commented on #91
I think it's because `-fPIC` is being added here. I don't know where that or `-mcmodel=medium` flags are coming from.

[code]

[2020-07-16 23:26] climbfuji commented on #87
For your info, please try registering again and if it doesn't work please use https://forums.ufscommunity.org/contact/website_feedback to send them the necessary details right away (we don't want you to post your email address on the forum, but the feedback form is safe).

See the latest post in https://forums.ufscommunity.org/threads/user-not-receiving-emails-when-registering-ufs-forum.

[2020-07-16 23:39] kgerheiser commented on #91
I was able to reproduce your issue on a Linux machine I have, and I think I know what's going on.

Ubuntu compiles position independent executables by default and that doesn't mix with the way we use static and shared libraries since we don't compile with `-fPIC`. Or something along those lines.

The way I fixed it was to add `set(CMAKE_EXE_LINKER_FLAGS -no-pie)` in the top-level NCEPLIBS CMakeLis

[2020-07-21 12:39] neekumar1 commented on #91
Thank you @kgerheiser for providing the suggestion. It worked for now. Is this error got anything to do with Clang ?
I tried NCEPLIBS-external with combination of Clang and Flang but could not verify as the build failed with following error message:
_"
checking for Fortran 90 integer kind for 8-byte integers... unavailable
checking for Fortran 90 integer kind for 4-byte integers... unavailable
con

[2020-07-21 12:42] neekumar1 commented on #87
Thank you @climbfuji . I tried with my personal email and received automated reply in spam. But still an issue with organizations email, may be due to restrictions on spam emails. I filled the website_feedback form though. Thanks.

[2020-07-21 13:20] climbfuji commented on #91
We have never tried flang and we don't support it - only gcc+gfortran and clang+gfortran.

[2020-07-29 19:20] kgerheiser commented on #89
The only way to fix this, I think, would be to have each project have its own ExternalProject_Add, instead of a loop.

On one hand I can see the benefit of that for more fine-grain control over build options, but on the other it's really repetitive for the most part.

[2020-07-29 20:56] aerorahul opened #94 "README.md needs update following ip2 and wgrib2."
`README.md` should be updated  to indicate ip2 and wgrib2 are being build in this umbrella build following #92

[2020-07-29 20:58] aerorahul opened #95 "WGRIB2 openmp not enabled."
The umbrella build option for OpenMP is `-DOPENMP=ON|OFF`.
WGRIB2 expects `-DUSE_OPENMP`.

A change is necessary either here or in wgrib2 feature/cmake branch.

[2020-07-29 21:28] kgerheiser commented on #95
Fixed in wgrib2. Changed the option from USE_OPENMP to OPENMP to be consistent

[2020-07-29 21:28] kgerheiser commented on #95
I'll wait until I update the tag here to close

[2020-07-30 14:53] #95 closed, assigned to kgerheiser

[2020-07-30 14:58] aerorahul commented on #94
closed by #99

[2020-07-30 14:58] #94 closed, assigned to kgerheiser

[2020-07-30 15:00] aerorahul commented on #91
@neekumar1
Is there still an issue with `clang` + `gfortran` as the issue topic mentions? If so, please indicate the versions you are using and the platform.
As @climbfuji mentions, we have not tested with `flang` and don't support it at the moment.

[2020-07-30 15:00] aerorahul commented on #89
ugh! Ok. We can live with it.

[2020-07-30 15:00] #89 closed, assigned to nobody

[2020-07-30 15:03] aerorahul commented on #67
This has raised its ugly head again.
When linking the  UFS-weather-model as a library with applications in JEDI, we get this error, especially for sp and w3emc|nco.

It probably would be safe to just force `set(CMAKE_POSITION_INDEPENDENT_CODE ON)` in all of the NCEPLIBS-xyz to be consistent.

[2020-07-30 15:06] aerorahul commented on #36
@climbfuji Is this issue still relevant?  The library installation directories are relative to `CMAKE_INSTALL_PREFIX`, no?

[2020-07-30 15:55] kgerheiser commented on #36
@aerorahul `${CMAKE_INSTALL_LIBDIR}` which is usually `lib`, but could be `lib64` for example.

I'm not sure the exact mechanics, but I think certain Linux distros do it like that.

[2020-08-04 05:05] neekumar1 commented on #91
Hello @aerorahul and @climbfuji, the issue with clang+gfortran for NCEPLIBS is resolved now. Thanks for the support.

[2020-08-04 05:05] #91 closed, assigned to nobody

[2020-08-13 19:50] climbfuji opened #105 "Cannot build wgrib2 with existing NetCDF, but also cannot remove wgrib2 from libs to build"
When I try to build NCEPLIBS develop on hera with a existing netCDF installation, the wgrib2 compilation fails because of a missing include statement (can't find `netcdf.h`):
[code]
It works when I build NetCDF as part of NCEPLIBS-external, though (on cheyenne.intel, cheyenne.gnu, currently testing hera.gnu and hera.intel).

I then tried to remove the wgrib2 line from COMPONENTS, but that failed m

[2020-08-13 19:53] aerorahul commented on #105
@climbfuji just delete/comment out the line with `wgrib2` in the `COMPONENTS` file

[2020-08-13 19:54] kgerheiser commented on #105
I think that's a bug I fixed recently. I just built wgrib2 on Hera.

[2020-08-13 19:58] climbfuji commented on #105
I see, but it still needs to be in the file?

[2020-08-13 20:58] aerorahul commented on #105
I see what you mean. You will have to remove wgrib2 from the for loop in CMakeLists.txt

[2020-08-13 23:46] climbfuji opened #106 "Add Fortran compiler flags for supporting gfortran-10"
Two items related to this issue:
- Add `gfortran-10` compiler flags

[code]

- Allow specification of compiler flags from the environment e.g. `CFLAGS`, `FFLAGS`

[code]

List of libraries that need to be updated:

- [x] bacio
- [x] bufr
- [ ] crtm
- [x] g2
- [x] g2c
- [ ] g2tmpl
- [x] gfsio
- [ ] grib_util
- [x] ip
- [x] ip2
- [x] landsfcutil
- [x] nemsio
- [x] nemsiogfs
- [x] prod_util
- [x] sfc

[2020-08-14 00:18] aerorahul commented on #106
This should be done in the repos as well. Not everyone uses the umbrella build. And it is especially not used when installing/updating a single or handful of libraries.

An alternative is to set environment variables.

[2020-08-14 02:03] kgerheiser commented on #106
I'll just go through each library and add it

[2020-08-24 13:33] aerorahul commented on #106
@kgerheiser
If you could also add the following:
[code]

The above will allow passing `FFLAGS` from the environment.

Same for `CMAKE_C_FLAGS`.

We can use this with a list of NCEPLIBS and split the work.

[2020-09-03 18:10] #106 closed, assigned to kgerheiser, climbfuji, aerorahul, DusanJovic-NOAA

[2020-09-29 20:43] edwardhartnett opened #120 "All NCEPLIBS should have similar README with these standard sections"
All the NCEPLIBS should have a README with the following sections:

Deprecation Status (if any)
Part of NCEPLIBS (with link)
Introduction (brief)
Authors/Code Manager
Link to full documentation
Dependent libraries
Build instructions (including for user machines without module commands)
References
Lawyers' disclaimers

[2020-09-29 20:43] edwardhartnett opened #121 "All NCEPLIBS should have doxygen documentation, docs from latest release on gh-pages branch of repo"
All NCEPLIBS should have good doxygen documentation. A link to documentation for the most recent release is always available from the project README page, and uses GitHub gh-pages branch to publish built documentation.

Getting doxygen docs together will involve the following:
* Add docs directory, containing Doxyfile.in. We must set the list of files it will search to create documentation.
* Modi

[2020-09-29 20:44] edwardhartnett opened #122 "Should ip and ip2 libraries be combined?"
There has been talk of combining the ip (https://github.com/NOAA-EMC/NCEPLIBS-ip) and ip2 (https://github.com/NOAA-EMC/NCEPLIBS-ip2) libraries. How would this happen? @GeorgeGayno-NOAA what do you think?

[2020-09-29 20:45] edwardhartnett opened #123 "Remove gfsio library from NCEPLIBS"
Should the gfsio library be removed from NCEPLIBS?

[2020-09-29 20:46] edwardhartnett opened #124 "Combine w3emc and w3nco libraries"
Should we create a new, third library?

Or combine the functions from one into the other?

Which library has more users?

[2020-09-29 20:47] edwardhartnett opened #125 "Return global events code from w3emc to PREP"
There is some global events code in w3emc. There is only one user. Can we hand the code off to the user? (@Hang-Lei-NOAA can you add more detail here please?)

[2020-09-29 20:48] edwardhartnett opened #126 "Deprecate nemsiogfs, remove it from global-chgRes and any other utility that uses it"
Should nemsiogfs be removed from NCEPLIBS?

[2020-09-29 20:49] edwardhartnett opened #127 "Combine g2tmpl and g2 (and maybe g2c as well?)"
Should g2tmpl, g2, g2c, and grib_util be combined? @BoiVuong-NOAA what do you think?

[2020-09-29 20:51] edwardhartnett opened #128 "Tarballs may not work due to cmake code not in repo"
Some of the NCEPLIBS repos use code from a cmake repo. These repos will not build from tarball because of this. The cmake code needed for each repo needs to live in that repo.

[2020-09-29 20:53] aerorahul commented on #128
@edwardhartnett Shouldn't the clone be recursive prior to making a tarball?
All codes released with git submodules will have that issue.

[2020-09-29 20:54] GeorgeGayno-NOAA commented on #122
First, someone would need to be assigned to the task.  Are you volunteering?

[2020-09-29 20:56] edwardhartnett commented on #122
@GeorgeGayno-NOAA yes, of course! ;-)

[2020-09-29 20:59] edwardhartnett commented on #128
@aerorahul yes. Other than the NCEPLIBS overall package, does any other of the NCEPLIBS use submodules?

[2020-09-29 21:01] BoiVuong-NOAA commented on #127
Hi Edward,
No, We should not combine g2tmpl, g2, g2c, and grib_util.  We can combine  g2 and g2tmpl because they are all FORTRAN code. The g2c is C code.  The g2c lib is not use in our production.  However, The g2c library uses many places outside of NCEP (Such as: GrDAS, some companies ( i don know ?).    The grib_util consists of many GRIB2 and GRIB1 utilities. They are: copygb, copygb2, tocgrib

[2020-09-29 21:02] DusanJovic-NOAA commented on #127
There's a huge code duplication between g2 and g2c. I think g2 should be implemented as small Fortran wrapper around g2c functions. g2c should stay as a standalone grib2 encoding/decoding library (repo).

[2020-09-29 21:03] aerorahul commented on #128
@edwardhartnett yes.
w3emc
wrf_io
EMC_post
wgrib2

All of these have a dependency on NetCDF and the CMakeModules provide a `FindNetCDF.cmake`.

[2020-09-29 21:05] edwardhartnett commented on #128
FindNetCDF.cmake should be in every project that needs it, so that tarball distribution also works.

Are there other cases?

[2020-09-29 21:06] GeorgeGayno-NOAA commented on #122
More power to you!  Should we set up a brief google meet?  I can tell you what I know about the libraries.

[2020-09-29 21:08] aerorahul commented on #128
That will imply duplication and maintenance nightmare to go look for all the instances of it.

[2020-09-29 21:10] edwardhartnett commented on #127
OK, great discussion already!

Some points:
* We can combine C and Fortran libraries in one package.
* Agree that C + Fortran wrappers is much better than a separate Fortran implementation.
* If g2c is not used in production, should be be taken out of NCEPLIBS (though kept as a separate project)?
* What is the difference between g2tmpl and g2? @BoiVuong-NOAA you believe these can be combined?
* Do

[2020-09-29 21:12] edwardhartnett commented on #128
@aerorahul no one said it would be easy. ;-)

CMake has it's peculiarities, and one of them is that it requires a lot of code to do stuff like find netCDF. That's unfortunate, but not a reason to break tarball distributions. Tarballs are the main way software is distributed, so should be supported by NCEPLIBS.

[2020-09-29 21:17] edwardhartnett opened #129 "NCEPLIBS README should have link to each repo"
Would be nice if there as a link to each repo in the README.

[2020-09-29 21:19] aerorahul commented on #128
Not sure if this will work, but looking at the Github CLI, may be there is a way to include the submodule contents in the release tarball.

https://cli.github.com/manual/gh_release_create

I'll do a test later tonight.

[2020-09-29 21:21] edwardhartnett commented on #128
@aerorahul awesome, that would be great.

[2020-09-29 21:22] BoiVuong-NOAA commented on #127
Hi Edward,
Yes, I agree.  We can remove g2c out of NCEPLIBS.
- What is the difference between g2tmpl and g2 ?
g2tmpl lib uses to support users to call directly to grib2 tables and mnemonic.  g2 lib uses  grib2 tables as pdt 4, gdt3 and octets for parameters.
- Does grib_util use g2, g2c, or g2tmpl.
grib_util needs to compile with g2 lib, w3emc, w3nco, ip, sp, bacio,.. not g2c and g2tmpl.   However

[2020-09-29 21:26] edwardhartnett commented on #127
@BoiVuong-NOAA what do you think about @DusanJovic-NOAA point about g2c and g2? Should g2 be refactored as fortran wrappers in g2c?

We need g2 right? So if we made g2 a set of wrappers around g2c, then we would also need g2c.

I will remove grib_util from this discussion and we will discuss that separately...

[2020-09-29 21:31] aerorahul commented on #128
umm. That failed spectacularly. GH CLI is not an option.

[2020-09-29 21:37] edwardhartnett commented on #128
Well that takes us back to adding a cmake directory and putting FindNetCDF.cmake in every project that needs it. It's a pain, but it's the exact same pain I feel because I have a FindNetCDF.cmake in netcdf-fortran, PIO, and the CCR library. CMake is special that way.

The best answer would be to provide a canonical FindNetCDF to Kitware, and have them make that part of CMake. This is what HDF5 has

[2020-09-29 21:42] edwardhartnett opened #130 "All NCEPLIBS must have unit tests, and use continuous integration with GitHub actions"
All NCEPLIBS repos must have testing. All must use CI with GitHub actions for testing.

A reasonably complex example, which builds and uses HDF5 and netCDF, can be found here:
https://github.com/NCAR/ParallelIO/blob/master/.github/workflows/a4.yml

[2020-09-29 21:46] aerorahul commented on #128
Agreed on the Kitware contribution.  Not sure about the time.
We could just open a PR on https://github.com/Kitware/CMake and see what happens.  It would be better coming from Unidata though. 🤷‍♂️

Another (faster?) alternative is to have Unidata provide a pkg-config file with its cmake build of netCDF, that enables one to find netCDF without using `FindNetCDF.cmake`.
The issue with this `FindNetC

[2020-09-29 21:57] edwardhartnett commented on #128
You keep referring to Unidata. Perhaps you are not aware that netcdf-c is maintained by four people, two of whom are me: https://github.com/Unidata/netcdf-c/graphs/contributors. ;-)

Ward at Unidata is too busy to do this. We must do it if we want it done. If we come up with a good solution, Ward will be happy with it and will endorse it, if that helps.

We can submit a pkg-config PR to netcdf-c,

[2020-09-29 21:59] edwardhartnett commented on #128
BTW one problem I'm having in another project is that FindNetCDF is not smart enough to figure out all the dependent libraries that might be in use by netcdf-c. It's not trivial to figure out!

[2020-09-29 22:14] edwardhartnett commented on #121
For reference, here's how I build and release documentation for the PIO project:

Update Documentation: The master branch is checked out, and configured with the --enable-docs option. (Doxygen is required). The documentation is built by doing a make in the doc directory. This produces the HTML version of the documentation in the (confusingly named) docs directory. Another clone of the library is c

[2020-09-29 22:19] edwardhartnett commented on #120
BTW no need to have the version in the README. The README is on the master branch, so there is no version associated with it, you are being shown the current README. Also the versions of the most recent release can be see in the "Releases" section. No need to duplicate it, we will just get it wrong sometimes and forget to update, as here: https://github.com/NOAA-EMC/NCEPLIBS-bacio

[2020-09-29 22:37] edwardhartnett commented on #122
So some important considerations in this decision:
* What libraries, if any, do ip and ip2 depend on?
* Do they depend on each other in any way?
* They seem to be both Fortran code, is that correct?
* Do they have separate user bases? Who uses each of them?

[2020-09-30 00:34] edwardhartnett opened #131 "determine how to handle release notes for all NCEPLIBS"
Across NCEPLIBS, we should use the same release notes formats and content. As a starting point, I suggest we have release notes for all NCEPLIBS similar to those used here:
https://github.com/NCAR/ParallelIO/releases/tag/pio2_5_2

The sections are:

New Release Announcement
Quick Intro to Software (copied from README)
Link to Documentation
New This Release (with links to important GitHub issues)
P

[2020-09-30 12:12] edwardhartnett opened #132 "What's the deal with master branch on this repo?"
I see that the develop branch is the default branch. We have a master branch that apparently is out of date.

Is there some reason we don't just use the master branch, instead of the develop branch?

[2020-09-30 12:31] edwardhartnett opened #134 "Change cmake to properly do make and make install"
When I do a make at the NCEPLIBS level, it seems to try and install the libraries.

Of course "make" should just build the libraries. "make install" should be required to install them.

[2020-09-30 12:49] aerorahul commented on #134
You are right.
This repo is a convenience to build and install all NCEPLIBS components in one step.

One can add `STEP_TARGETS build` to the external project macro and it will only build with `make`

One will have to do more to install via `make install`

[2020-09-30 12:59] edwardhartnett commented on #134
OK, this is incorrect behavior.

We need make to just make it, not try and install it.

Let us make STEP_TARGETS build be the default behavior, and fix make install so that it does the installation.

[2020-09-30 13:24] GeorgeGayno-NOAA commented on #122
They depend on the sp library.

They are independent.

Yes.

IP has been around many years and has many users.  It is also used by our 'copygb' utility, which also has many users.  IP2 is a new library.  So it has very few users.

[2020-09-30 13:37] edwardhartnett commented on #122
Seems like I managed to build ip without sp, though sp was required for ip2.

When and why was the new library introduced?

How come the extra functionality of ip2 was not rolled into ip?

Is it intended to retire ip at some point? Or are the two libraries intended to both continue?

[2020-09-30 13:43] GeorgeGayno-NOAA commented on #122
The idea was ip would be replaced by ip2 when NCO forced everyone to convert from GRIB1 to GRIB2.

[2020-09-30 13:50] edwardhartnett commented on #122
The way that you phrase that seems to cast doubt upon it. ;-)

Is NCO forcing everyone to convert to GRIB2? If so, when? When will GRIB1 be retired from processing?

Does ip2 only deal with GRIB2?

These are the kinds of details that would be best placed in the README. See https://github.com/NOAA-EMC/NCEPLIBS/issues/120.

[2020-09-30 14:40] edwardhartnett commented on #120
@kgerheiser I just noticed the GitHub status badge here: https://github.com/NOAA-EMC/NCEPLIBS-sp

Neat!

This is accomplished in the README.md with this:

`![Status](https://github.com/NOAA-EMC/NCEPLIBS-sp/workflows/Build%20and%20Test/badge.svg)
`

This is documented here:
https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/adding-a-workflow-status-badge

I think we shou

[2020-10-01 17:49] BenjaminTJohnson commented on #130
For CRTM, specifically, we're working on getting this done over the next month.

We have multiple build support requirements due to CRTM being integrated in multiple model platforms.

[2020-10-01 18:47] edwardhartnett commented on #121
https://github.com/NOAA-EMC/NOAA-EMC.github.io/tree/master/NCEPLIBS
https://noaa-emc.github.io/NCEPLIBS/NCEPLIBS-nemsio/html/
https://noaa-emc.github.io/NCEPLIBS/NCEPLIBS-sfcio/html/
https://noaa-emc.github.io/NCEPLIBS/NCEPLIBS-sigio/html/
https://noaa-emc.github.io/NCEPLIBS/NCEPLIBS-sp/html/
https://noaa-emc.github.io/NCEPLIBS/NCEPLIBS-w3emc/html/
https://noaa-emc.github.io/NCEPLIBS/NCEPLIBS-w3nc

[2020-10-01 18:54] edwardhartnett opened #135 "g2c is not in our readme list of packages"
Not built in NCEPLIBS. Is this being used anywhere? @BoiVuong-NOAA do you know if anyone is using this code.

[2020-10-01 18:54] Hang-Lei-NOAA commented on #127
So, g2, g2c and g2tmpl will be combined.
grib_util will stay.

[2020-10-01 19:03] Hang-Lei-NOAA commented on #126
As far as I know, after the fv3gfs is used. The only code using nemsiogfs is the global-chgRes.
We can remove this from code level.

George V: it is loaded/used by many code as a historical setup. We may have to modify the modules to see the effects.

[2020-10-01 19:06] Hang-Lei-NOAA commented on #125
This need further discussion with obspro group.
I have communicated with them. It seems that they still want to keep it in w3 library.

[2020-10-01 19:11] Hang-Lei-NOAA commented on #124
combine into a  w3 library

[2020-10-01 19:11] Hang-Lei-NOAA commented on #124
Kyle, cycled dependency between two libraries.

[2020-10-01 19:14] Hang-Lei-NOAA commented on #123
George V: need board survey; post also use it, we may have more entry points for this lib.

[2020-10-01 19:18] Hang-Lei-NOAA commented on #122
George G: the combined lib should handle both grib1 and grib2.  ip2 lib used more on fortran 90. The way is better to upgrade the ip2 lib to handle grib1.

[2020-10-01 19:35] edwardhartnett commented on #124
Who wants to take this on and create the new w3 library?

[2020-10-01 19:37] Hang-Lei-NOAA commented on #124
I can work with Boi to get it done.
Hang

On Thu, Oct 1, 2020 at 3:36 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-10-01 19:37] edwardhartnett commented on #125
Should we just close this issue? Or is there hope they will take this code? Should we involve Arun in this discussion?

[2020-10-01 19:38] Hang-Lei-NOAA commented on #125
Agree. close it.

On Thu, Oct 1, 2020 at 3:37 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-10-01 19:38] #125 closed, assigned to Hang-Lei-NOAA

[2020-10-01 19:40] GeorgeGayno-NOAA commented on #122
For GRIB1 (ip), the grid description information is contained in the KGDS array, which is returned from our GRIB1 library.  For GRIB2 (ip2), the grid description information is contained in IGDTNUM and IGDTMPL, which is returned from our GRIB2 library.   So, the bulk of this project is to map the KGDS entries to the IGDTNUM and IGDTMPL entires or come up with a generic way to contain the grid info

[2020-10-01 19:49] BoiVuong-NOAA commented on #124
We should create  a new  and name it as w3 library. The W3EMC has more users.

[2020-10-01 20:00] edwardhartnett commented on #122
How about we simply combine the two existing code bases as is? Instead of making ip2 handle grib1, simply combine the functions of ip and ip2 into one library.

The ip2 code can be in Fortran 90 and the ip code in F77. THat's not a problem. Future work can us F90 and the F77 code can just be left alone.

[2020-10-01 20:01] edwardhartnett commented on #124
Why not combine the w3nco into w3emc? Then w3emc users will not have to change anything.

[2020-10-01 20:03] Hang-Lei-NOAA commented on #124
There are many code only use w3nco.

On Thu, Oct 1, 2020 at 4:02 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-10-01 20:10] Hang-Lei-NOAA commented on #124
We can create the w3 lib. and ask users to replace both w3emc and w3nco
usage with w3. All three libs will be available for a period of transition
time. This will be a seamless process.

On Thu, Oct 1, 2020 at 4:03 PM Hang Lei - NOAA Affiliate <hang.lei@noaa.gov>
wrote:

[2020-10-01 20:18] BoiVuong-NOAA commented on #124
I agree with Hang.  Once, we announce to combine w3emc and w3nco into new w3, all users will need to change their scripts or module load any way.

[2020-10-05 14:35] edwardhartnett opened #213 "Check for usage of these subroutines"
What would be super useful would be a python script that takes two directory names as arguments, a source and a bin directory.

Then the script should parse all the code files in the source directory and come up with a list of subroutine/function names. Then it should use nm -a on all the binaries in the other directory and give a list of which binaries use which subroutines.

It should also then

[2020-10-05 17:24] edwardhartnett commented on #124
I do not agree.

What is the reason for creating a new library project? That is the opposite of what we are trying to do.

Instead, how about we simply move the code from w3nco into w3emc.

If you later want to change the name of w3emc to w3, that can be done. It does not require a new project be introduced. I would very much like to reduce the proliferation of repos and projects. Each one adds ex

[2020-10-05 17:25] edwardhartnett commented on #122
OK, I am looking at ip now, and it seems to be F90 code...

[2020-10-05 18:00] BoiVuong-NOAA commented on #124
Yes, You are right.  There will be another new repo for w3. We will move the code from w3nco into w3emc.

[2020-10-05 18:08] Hang-Lei-NOAA commented on #124
Right, agree!
The work will be done like Boi said.
Hang

On Mon, Oct 5, 2020 at 2:00 PM Boi Vuong <notifications@github.com> wrote:

[2020-10-05 18:52] edwardhartnett commented on #124
OK, I'm a bit confused. Are we all in agreement that the code from w3nco should be moved into w3emc, and no new repo should be created?

[2020-10-05 18:55] BoiVuong-NOAA commented on #124
I agree to move the code from w3nco into w3emc.

[2020-10-06 13:55] #129 closed, assigned to nobody

[2020-10-06 14:43] edwardhartnett commented on #127
I think we want to start by combining g2tmpl into g2. Does that sound like a good path forward?

Can we accomplish that, and then circle back around to the g2c library in a future release?

[2020-10-06 14:57] Hang-Lei-NOAA commented on #127
I agree with you.
Let see Boi's expert opinion. He is the code manager and developer for
these libs.

On Tue, Oct 6, 2020 at 10:43 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-10-06 15:30] edwardhartnett opened #136 "questions about NCEPLIBS-sigio - should it be deprecated, who manages it, what software uses it?"
The NCEPLIBS-sigio package is just two Fortran code files. Does it really need its own library for this? Can't we combine this with one of the other io libraries?

[2020-10-06 15:33] edwardhartnett opened #137 "NCEPLIBS-sfcio just one code file, does it need its own project and repo?"
NCEPLIBS-sfcio is just one code file. Having a library and repo for this is somewhat expensive. Can it be combined into another library?

[2020-10-06 15:39] edwardhartnett opened #138 "NCEPLIBS-gfsio just one code file"
Do we need a whole library for this?

[2020-10-06 15:40] edwardhartnett opened #139 "What's the deal with NCEPLIBS-wrf_io?"
Its in our list of NCEPLIBS, but not in the spreadsheet. Who is the code manager?

...Aparently it is @GeorgeVandenberghe-NOAA

[2020-10-06 15:44] edwardhartnett opened #140 "Is NCEPLIBS-nemsio to be deprecated?"
I believe this was mentioned, but there is no issue yet, so here is is.

I believe NEMS is going away? True?

Will this library go away too? If so, when?

[2020-10-06 15:51] Hang-Lei-NOAA commented on #140
No issue for this. It is still used.
Current modeling frame is developed two generations above NEMS frame.
But the io/data format is still used. There is no date for this to be out.

[2020-10-06 15:53] #140 closed, assigned to nobody

[2020-10-06 20:16] edwardhartnett commented on #136
OK, we'll leave this for this refactor...

Discussed this with Kyle and Hang and this code is needed and will continue to be needed.

[2020-10-06 20:17] edwardhartnett commented on #137
We will leave this alone as well, because this code does not change very much. @GeorgeGayno-NOAA your input would be welcome here.

[2020-10-06 20:17] #137 closed, assigned to nobody

[2020-10-06 20:23] edwardhartnett commented on #138
Only used in a few places, as an option in post for example. We would have to ask them to remove it. @Hang-Lei-NOAA will ask via email and report back.

[2020-10-06 20:50] BoiVuong-NOAA commented on #135
Yes, The g2c is not in nceplibs.  NCO (developer) has G2C in C to support users who are not using the G2 FORTRAN.  Most of G2C users are GRADS, NASA, some companies, etc.  Some times, I received some helps from outside users (I do not know exactly who were they ?). I assisted them to compile or answered any questions or updated some PDT and GDT tables in GRIB2.

[2020-10-06 20:58] GeorgeVandenberghe-NOAA commented on #139
Yeah that would be me.  It was supplied by the WRF people to satisfy the
binding needs for ncep_post and avoid having to build the entire WRF system
as used to happen prior to mid 2019.   So I just created a repository for
it in June 2019 and submitted it to NCO for inclusion in their libraries.

Prior to that WRF and post was a nightmare because there are several
incompatible wrf bindings that th

[2020-10-06 21:09] edwardhartnett commented on #135
When you say "NCO" do you mean the NOAA branch or the NetCDF Command Operators?

[2020-10-06 21:10] edwardhartnett commented on #139
OK, great, I will put some of this detail in the README...

[2020-10-08 14:53] edwardhartnett commented on #122
I've taken a look at ip and ip2. I agree with @kgerheiser there is a lot of duplicate code.

Seems like it would be good to take the extra code from ip2 and move it into ip, then to deprecate ip2 for the next release.

[2020-10-08 23:27] edwardhartnett commented on #132
OK, I see that develop is being used everywhere. It's not clear if this is great, because I see that master is usually out of date. But anyway, I will leave this topic alone for now and we will continue with develop branches...

[2020-10-08 23:27] #132 closed, assigned to nobody

[2020-10-08 23:38] edwardhartnett commented on #126
OK, sounds like it should not be removed. Should it be merged with nemsio?

[2020-10-08 23:51] edwardhartnett commented on #139
I have added this info to the readme in a PR (see https://github.com/NOAA-EMC/NCEPLIBS-wrf_io/pull/13). I will close this issue.

[2020-10-08 23:51] #139 closed, assigned to edwardhartnett

[2020-10-09 01:44] Hang-Lei-NOAA commented on #126
No, this just use nemsio for GSM. However, no one in EMC use GSM now.

On Thu, Oct 8, 2020 at 7:39 PM Edward Hartnett <notifications@github.com>
wrote:

[2020-10-09 13:50] edwardhartnett commented on #126
What is GSM?

[2020-10-09 14:12] edwardhartnett commented on #121
Copied from https://github.com/NOAA-EMC/NCEPLIBS-bufr/issues/15:

We are going to standardize on doxygen for all NCEPLIBS.

For an example of what this might look like with NCEPLIBS, see the NCEPLIBS-sp project, which is pretty far along in doxygen conversion. https://noaa-emc.github.io/NCEPLIBS-sp/

The old ways of doing things have taken us far, and given us this valuable legacy software. It's o

[2020-10-09 14:21] Hang-Lei-NOAA commented on #126
The GSM is the retried GFS dycore before fv3 come in.

On Fri, Oct 9, 2020 at 9:50 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-10-09 14:31] edwardhartnett commented on #126
OK, so to summarize: the nemsiogsf library deals with data in NEMS format from the GFS model. However, we do not use NEMS any more, we use netCDF-4 (yeah!), and we do not use the GFS any more, we use FV3.

However, this library is linked to a bunch of other software, including global-chgRes, as a part of their historical cababilities, which we don't have to support  moving forward.

So the answer,

[2020-10-09 15:33] edwardhartnett commented on #136
Who is code manager for this repo? @kgerheiser is it you?

Do we have an idea where the sigio code is used?

[2020-10-09 15:36] edwardhartnett commented on #136
Also, we say in the README:

`Does something with Spectral Coefficients.`

Can we be more specific? Do we even know? ;-)

[2020-10-09 15:48] kgerheiser commented on #213
I was working on implementation related things earlier this week, so I'll take a stab at some of the things on our list now that I'm done with that.

[2020-10-09 16:10] edwardhartnett commented on #213
Meanwhile I have been looking at some of the functions here for testing. Holy. Freaking. Crap.

There is some hairy math here!

[2020-10-09 16:22] kgerheiser commented on #213
I found some tests that used to be in the repository by going back in the commit history that might be helpful.

https://github.com/NOAA-EMC/NCEPLIBS-sp/tree/b2b21364ab4a289a1b352b055d2eae88fb795e47/tags/WCOSS_sp_generic_1.0.1/utest

https://github.com/NOAA-EMC/NCEPLIBS-sp/tree/77a896f73bfbd954e034ffdfec444b556f22c4ec/branches/utest_v2

[2020-10-13 14:22] edwardhartnett commented on #126
@Hang-Lei-NOAA where is the global-chgRes code?

Also how are we going to identify other software that uses nemsiogfs?

[2020-10-13 14:40] Hang-Lei-NOAA commented on #126
The global_chgres is kept on
https://github.com/NOAA-EMC/UFS_UTILS/tree/develop/sorc/global_chgres.fd
It may occur somewhere else. It was a Utility code in GFS.

If the nemsiogfs library is used. Then in the code:
The NEMSIO_GFS is loaded for the code
This is the way to identify where the library is used.

On Tue, Oct 13, 2020 at 10:23 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-10-13 14:53] edwardhartnett commented on #126
Are UFS_UTILS part of our team? Or is this managed by a different group?

[2020-10-13 15:05] Hang-Lei-NOAA commented on #126
It is not a part of NCEPLIBS.
I am not sure which it belongs to now. It used to be a part of GFS.

On Tue, Oct 13, 2020 at 10:53 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-10-13 19:36] edwardhartnett commented on #136
OK, we now say this in the readme:

Was the global spectral model part of the GFS? Is this restart file still used?

[2020-10-13 19:38] edwardhartnett commented on #135
OK, so g2c is not part of NCEPLIBS and not part of our refactoring, testing, and documentation campaign either. At least, not this time around. ;-)

[2020-10-13 19:38] #135 closed, assigned to edwardhartnett

[2020-10-13 19:39] edwardhartnett commented on #131
I have started draft releases for the next release of some of the packages. I will leave this issue open until all have a draft release.

[2020-10-13 19:41] edwardhartnett commented on #130
Almost all projects in NCEPLIBS already have CI with GitHub actions, which is great. But most of them are running no tests, which is the next area we need to improve.

[2020-10-13 19:46] edwardhartnett commented on #128
OK, I have added issues for this to w3emc and wrf_io, where the solution is straightforward.

We will tackle wgrib2 and emc_post but not quite yet. ;-)

[2020-10-13 19:50] edwardhartnett commented on #127
@BoiVuong-NOAA has already agreed that combining g2 and g2tmpl is a good idea, noting that both are Fortran.

[2020-10-13 20:40] kgerheiser commented on #213
See https://github.com/kgerheiser/symbol_checker

I ran it on sp and NEMS.exe (weather model) and the results were:

[code]

[2020-10-13 20:45] edwardhartnett opened #142 "document wgrib2 and its many issues"
wgrib2 is a special case in that we get this code periodically (@kgerheiser how often?) from Wesley(?) at the CPC. It is apparently not kept on Git there.

Also it has a home-rolled build system that interferes with the rest of the NCEPLIBS builds. Specifically it tries to have its own version of dependent packages, like netCDF, which it has copied the source from, at attempts to build from scratc

[2020-10-13 20:52] edwardhartnett commented on #213
Well that is not a lot! How about the _8 and _d versions?

[2020-10-13 20:55] kgerheiser commented on #213
The library kind does not matter. They all provide the same symbols and rely on the user to link the correct version.

[2020-10-13 20:57] edwardhartnett commented on #213
So does that mean this particular NEMS.exe was built for the _4 libraries?

[2020-10-13 20:59] edwardhartnett commented on #213
BTW in this case there is no need to print out the unused functions/subroutines. We can see at a glance that almost all of them are unused!

[2020-10-13 21:01] kgerheiser commented on #213
No, it was built the default way, which is `_d`, I think.

I just used `_4` because that's what autocompleted first, or something like that. Running it with `_d`, or `_8` wouldn't change the output since the symbol names are the same (in three different libraries).

The executable would link fine with any of the other versions and it wouldn't break until you run it.

[2020-10-13 21:04] edwardhartnett commented on #213
OK, because the functions have the same name, and Fortran does not check the type of arguments when matching a function.

[2020-10-13 21:15] kgerheiser commented on #213
Yes, that would be the compiler's job with module files (and name mangling), but the object files contain no type information.

[2020-10-13 21:26] edwardhartnett commented on #213
OK, also, almost none of the subroutines in NCEPLIBS-sp are actually used. That's kind of a big deal! ;-)

[2020-10-13 21:42] kgerheiser commented on #213
Here is UFS_UTILS:

[code]

And from ip (when comparing directly to another library instead of executable it doesn't include sp's internal calls, to fft for example):
[code]

[2020-10-14 12:03] BoiVuong-NOAA commented on #127
They are FORTRAN.

[2020-10-14 13:28] edwardhartnett commented on #213
I guess the next question is: what is a comprehensive set of binaries that we must check?

That is, what is the list of binraries that, once we show a program is not used anywhere, we can remove it?

[2020-10-14 13:30] edwardhartnett commented on #127
You mean F77 code? That's fine. The good news with F77 code is we can rely on F90 compilers, which help a bit. ;-)

[2020-10-14 15:00] edwardhartnett opened #143 "Refactoring, testing, documentation campaign 2020/2021"
We are engaged in a refactoring campaign with the goals of:
* Reducing overall complexity by merging related projects and deprecating code where possible.
* Adding unit testing for all operational code.
* Adding consistent and informative documentation using doxygen.

This issue can be used to keep track of our overall progress. It can be closed in about a year, when this campaign is complete.

He

[2020-10-14 15:03] edwardhartnett commented on #142
Here's part of an email from Wesley Ebisuzaki, explaining some of the peculiarities of wgrib2:

[2020-10-15 14:59] edwardhartnett commented on #142
More answers from Wesley:

[2020-10-15 15:15] edwardhartnett commented on #142
Another issue is lack of support for netCDF-4. From README.netcdf4:

Since all the FV3 output is NetCDF/HDF5 files (a.k.a. NetCDF-4 files) this seems like a problem.

[2020-10-15 15:27] kgerheiser commented on #142
NetCDF-4 support is fine, as far as I know.

I've been compiling and using wgrib2 with NetCDF-4 (CMake build) for a while and have never seen a problem.

[2020-10-15 18:51] edwardhartnett opened #144 "NCEPLIBS-sp can be removed when we fully convert to FV3?"
Perhaps we should softly deprecate this?

THis will be needed as long as people use GFS output, and will be needed in WCOSS2.

[2020-10-15 18:54] edwardhartnett commented on #213
directory /nwprod on WCOSS.

[2020-10-15 18:59] edwardhartnett commented on #123
George will take a stab at removing gfsio from post and get back to us.

[2020-10-15 19:05] edwardhartnett commented on #142
The library is used in UFS_UTILS, the executable is used widely, including in several operational workflows. The plan is that our binary build will be used by everyone.

[2020-10-15 19:42] GeorgeGayno-NOAA commented on #136
chgres_cube (of the UFS_UTILS repo) uses the sigio library.  It is used to process restart files from the old spectral model (GFS v13 and earlier - prior to Jul 2017).   So we need to keep it.

[2020-10-15 19:44] GeorgeGayno-NOAA commented on #138
The global_chgres code (of UFS_UTILS) also uses it.  However, global_chgres is obsolete and will be removed.

[2020-10-15 19:46] GeorgeGayno-NOAA commented on #130
IP and IP2 have tests.  But I don't know if they are working.  I think @kgerheiser is working on this.

[2020-10-15 19:47] kgerheiser commented on #130
I'm currently in the process of porting ip and ip2's tests to CMake

[2020-10-15 19:59] BenjaminTJohnson commented on #130
I'll be providing a cmake build for CRTM within the "next couple of weeks".  We have a code release coming up soon, once that's done, I'll work with the team to get linked to our releases and work out any build/test issues.

[2020-10-15 20:10] edwardhartnett commented on #136
@GeorgeGayno-NOAA should you or @kgerheiser be the code manager here?

[2020-10-15 20:18] GeorgeVandenberghe-NOAA commented on #123
it's going to take more than commenting out GFSIO stuff  in ncep_post with a sed script.  gfsio also defines a data API and has modules with the types defined so stripping this stuff with sed is beyond my sed ability.

However it looks like all of the GFSIO stuff is confined to a few high level routines which are not called with current workflows so we can get rid of THEM and then all of the gfsio

[2020-10-16 13:53] GeorgeGayno-NOAA opened #145 "NCEPLIBS-landsfcutil can be retired"
This library is only used by UFS_UTILS programs global_chgres and emcsfc_snow2mdl.  The former is being replaced by chgres_cube.  The latter only uses a few small routines from that library.  Those small routines could be included as part of the emcsfc_snow2mdl code.

[2020-10-16 13:58] edwardhartnett commented on #145
When is global_chgres being removed?

[2020-10-16 14:43] GeorgeGayno-NOAA commented on #145
I should add that there is a version of global_chgres outside of UFS_UTILS under 'util_shared'.  On Dell, it is here: /gpfs/dell1/nco/ops/nwprod/util_shared.v1.1.2

There is no hard date to remove it.  My thought:  Refuse to port any versions of global_chgres to the new WCOSS machine and see if anyone yells.  If for some reason they can't switch to chgres_cube, then I suppose we will need to conti

[2020-10-16 15:43] edwardhartnett commented on #121
Some comments on authorship:

As is customary with science projects we will allow each contributor to add their name to the finished product.

One purpose of the list of authors in a function is that it is the list of people who take responsibility for that function.

Tracking authorship has benefit besides fairness and historical record. Programmers crave legacy and too often this craving is sati

[2020-10-16 22:01] GeorgeVandenberghe-NOAA commented on #123
Took about an hour to clean it all out of the old ncep_post that I use for testing NCEPLIBS builds.    Subroutine initpost_gfs could
be completely removed from the makefile.  Then the call to it in gfspost.f needed to be removed and the use of the gfsio module
removed from that source   I also needed to remove gfsio references from wrfpost.f   Once this was done, the post built without a  gfsio  l

[2020-10-16 22:03] GeorgeVandenberghe-NOAA commented on #123
It should be noted that parallel compression support was (rapidly and successfully) developed for netcdf in response to critical performance requirements of NCEP codes.

[2020-10-17 12:32] edwardhartnett opened #146 "Add top-level doxygen for NCEPLIBS"
A top level documentation page will point to the on-line documentation of each of the NCEPLIBS project.

[2020-10-17 12:34] edwardhartnett opened #147 "remove project.config file?"
We have a file project.config, with contents like this:

[code]

What is this file all about?

[2020-10-17 12:38] edwardhartnett commented on #122
I also see this in the top-level CMake file:

[code]

This seems like another strong argument to combine these two libraries.

@GeorgeGayno-NOAA what parts of ip2 are different from ip? That is, what files in ip2 would have to be brought over to ip?

There are a lot of code files in ip2 with the same names as in ip. Are these just copies or are there changes?

[2020-10-17 17:19] BenjaminTJohnson commented on #146
@edwardhartnett  Which repository would you recommend using as a doxygen "standard" that we should compare against for format, structure, etc.?

I haven't tested doxygen on CRTM since I took over the project, so I'm not sure how well it works, and would like to know if any updates/modifications would be necessary.

[2020-10-19 13:58] GeorgeGayno-NOAA commented on #122
I think the only unique routine in ip2 is "earth_radius.F90".

The files with the same names are very close, but not exact copies.  The ip2 routines use the grib2 grid description template ("IGDTNUM", "IGDTMPL", "IGDTLEV").  The ip routines use the grib1 grid template ("KGDS").   Coming up with some general way to pass the grid information to all routines is 90% of this project.

For more informat

[2020-10-19 16:26] edwardhartnett commented on #146
The best example at the moment in NCEPLIBS-sp.

If you point me at your repo I can take a look...

[2020-10-19 16:28] BenjaminTJohnson commented on #146
https://github.com/noaa-emc/emc_crtm

Specific example: https://github.com/NOAA-EMC/EMC_crtm/blob/develop/libsrc/CRTM_Forward_Module.f90
(scroll down a bit)

[2020-10-19 16:28] edwardhartnett commented on #122
Do the functions for grib2 have the same names as the functions for grib1?

[2020-10-19 16:41] kgerheiser commented on #147
From a cursory search, it looks like it's a config file that's used in VLab/Gerrit.

[2020-10-19 16:43] edwardhartnett commented on #146
Well I thought there was another repo, because of this:  "For an authoritative repository look elsewhere." Is there?

[2020-10-19 16:46] BenjaminTJohnson commented on #146
There is another repo, but we're smack in the middle of making it public, transferring issues, etc.  I will create an issue when it's available.  However, the source codes (particularly the one I have linked), are essentially the same.     I'm just curious whether this type of comment block is compatible with Doxygen, because it will be the same in the public release of CRTM.

Thanks,

-Ben

[2020-10-19 16:53] edwardhartnett commented on #146
OK, what I'm seeing in the file is:

[code]

So, how to change this?

Doxygen comments start with !> and can be continued with !! or !>. (Or C> for F77 code.)

No need for text like NAME or PURPOSE, and no need to provide the CALLING SEQUENCE, doxygen will understand all those things automatically and display them appropriately.

Extra whitespace is ignored, so there's no need or point to line up

[2020-10-19 16:57] edwardhartnett commented on #147
Am I correct that we are not using VLab any longer? So then this file can be removed?

[2020-10-19 17:01] kgerheiser commented on #147
Should be safe to remove

[2020-10-20 12:00] edwardhartnett opened #149 "Add grib_util, g2c, and prod_util to the list of projects in the README"
These three projects are not part of the release, but are called NCEPLIBS libraries.

[2020-10-20 13:18] edwardhartnett commented on #145
OK, how about we mark this for soft deprecation. That is, we won't do work on it and we advise people to not use it in new code, but we will continue to provide it as is, for at least the next year of NCEPLIB releases. Make sense?

[2020-10-20 13:20] edwardhartnett commented on #144
Upon discussion, the conclusion is that we cannot get rid of the sp library in the short term, due to ongoing need to read GFS data files. If anyone disagrees, please say so...

[2020-10-20 13:21] edwardhartnett commented on #138
We will mark this for soft deprecation.

[2020-10-20 13:22] #136 closed, assigned to nobody

[2020-10-20 13:23] edwardhartnett commented on #126
We will mark this for soft deprecation for now.

[2020-10-20 13:26] edwardhartnett commented on #123
@GeorgeVandenberghe-NOAA my conclusion reading your comment is that you were successful in your prototype code of getting post to build and test (if it tests) OK without gfsio? So we can mark gfsio for deprecation?

[2020-10-20 13:33] edwardhartnett commented on #143
Here's an assessment of the state of NCEPLIBS in September 2020:

![image](https://user-images.githubusercontent.com/38856240/96593287-90508800-12a6-11eb-87c1-3f83dc51b036.png)

[2020-10-20 13:34] edwardhartnett commented on #143
Here's an assessment based on the current state:

![image](https://user-images.githubusercontent.com/38856240/96593394-b0804700-12a6-11eb-977c-0290290b3756.png)

[2020-10-20 13:37] GeorgeVandenberghe-NOAA commented on #123
Not yet.  We either have to do this for every GFS based code, or we have to
add it to the source trees of those codes and modify their builds.  I am
leaning more towards the second approach.   "Modification" for the GFS
model means adding the gfsio object to the makefile and satisfying the
externals from the resultant .o and .mod files and making sure these build
before the things in the source th

[2020-10-20 13:44] edwardhartnett commented on #123
Well the goal is to reduce complexity. If we are adding the code to multiple projects, that sounds like we are increasing complexity. If this code is used in multiple places, and will be needed in the future, let's just keep it in this library and add tests.

[2020-10-20 13:53] GeorgeGayno-NOAA commented on #145
That makes sense.

[2020-10-20 13:54] GeorgeGayno-NOAA commented on #145
This library is being removed from UFS_UTILS snow2mdl program under this issue:
https://github.com/NOAA-EMC/UFS_UTILS/issues/169

[2020-10-20 14:16] GeorgeVandenberghe-NOAA commented on #123
The key is, it is dead code.   The sections of the GFS and NCEP_POST and
chgres that use gfsio are never actually executed.   So we just need the
API to be available because it is too tedious to clean it out of the  codes
that use it.   Because the library is not executed and the setions of code
that use it are themselves never modified, maintanance is a non issue and
our cost is just tracking and

[2020-10-20 14:37] edwardhartnett commented on #123
One person's tedium is another person's daily work. ;-) So we should not be preserving the API at all, we should be removing this completely. I'm happy to jump in and help.

Can you list here every place it is used? Or create an issue in NCEP_POST and GFS to remove this code?

[2020-10-20 14:38] edwardhartnett opened #150 "Requested changes in support of SRW App"
The SRW App wants an easier way to set environment variables or load modules than loading individual NCEPLIBS modules etc. This was discussed at length in last week's SRW App build team meeting. It was decided to augment the NCEPLIBS with an umbrella modulefile (for systems that use modules) and shell scripts (bash and tcsh; for users on commodity systems without the module environment). This is s

[2020-10-20 14:44] climbfuji commented on #150
Thanks, @edwardhartnett I could have (and should have) done that myself. Will do better next time,

[2020-10-20 14:57] edwardhartnett opened #151 "Merge public-v2 changes into develop?"
@climbfuji I still don't understand the versioning. That's what I get for skipping the last two UFS release meetings! ;-)

We have releases NCEPLIBS-1.0 and NCEPLIBS-1.1 out. And you want to release 2.0?

You have said:

OK, but why then do we have a separate development version? Shall we not just bump our actual release (in the develop branch) to 2.0 as well? Is there any reason we don't do a ful

[2020-10-20 15:02] edwardhartnett commented on #151
@climbfuji also when would we like to release 2.0? Once your current PR is merged? Or are there other necessary changes?

[2020-10-20 15:03] climbfuji commented on #151
Your nceplibs 1.0 and 1.1 refer to develop. These are a different versioning stream, entirely and unfortunately.

release/public-v1 NCEPLIBS-v1.0.0 and NCEPLIBS-v1.1.0 correspond to nothing in develop, because this was in the very early stages of the umbrella build development, way before the develop 1.0.0 was ever created

release/public-v2 NCEPLIBS-v2.0.0 was cut off develop at the end of June/b

[2020-10-20 15:03] climbfuji commented on #151
This is hopefully the last change. Code freeze end of October, followed by one month of testing where only bugfixes are allowed to go in. Release in early December.

[2020-10-20 15:06] edwardhartnett commented on #151
Why are the changes in the PR not being merged back to the develop branch? Will they not be needed in the next public release?

[2020-10-20 15:08] climbfuji commented on #151
That's a long story ... we make specific adaptations for the release that the developers responsible for the "develop" branches don't want (and don't need).

Also, chances are high that the next public release will be utilizing hpc-stack instead of NCEPLIBS-external and NCEPLIBS.

[2020-10-20 20:20] edwardhartnett opened #152 "Should NCEPLIBS support eccodes?"
Should we support the eccodes package.
* does it have github repo?
* will they accept PRs?
* is there a future planned?
* are there other users?
* is it stable and well-tested?
* what is python API like?
* what did Jeff W. write?

After some investigation we should have a meeting with the whole gang for a discussion of eccodes and whether or not we want to support it locally, and whether it should

[2020-10-20 20:24] HenryRWinterbottom commented on #152
@edwardhartnett We make use of eccodes for several UFS-S2S applications.

The git repo is here: https://github.com/ecmwf/eccodes

I cannot say with 100% certainty, but I don't know that Jeff Whitaker (assuming that is the Jeff W. you are referencing) has written any of it. I believe most is a result of the former GRIB API and other developments internal to the EC.

[2020-10-20 20:26] jbathegit commented on #152
Just curious - where did this requirement come from?  [ecCodes](https://www.ecmwf.int/en/elibrary/18132-eccodes) is a full suite of programs, including its own set of native BUFR and GRIB2 encoders and decoders.

[2020-10-20 20:35] edwardhartnett commented on #152
@jbathegit there is a need for a python API for grib. Jeff W. wrote one, and that's popular and some people want to use it, but it depends on eccodes. We either have to support eccodes (at least the grib parts), or else come up with a python API to Grib (on a tight schedule).

So the question is: if we wanted to use eccodes, how hard would it be for us to support it? How well could we rely on it?

[2020-10-20 20:50] jbathegit commented on #152
I've never used it myself, but I know a good portion of Europe uses it to encode and decode BUFR and GRIB.  So it's well-established software, but if we pull in the entire package, then that ends up being yet another set of BUFR and GRIB packages that we're now supporting.  Seems a bit redundant to me, but again maybe I'm missing something.

[2020-10-20 21:09] edwardhartnett commented on #152
Certainly it is not an ideal solution.

[2020-10-21 13:34] edwardhartnett commented on #151
The public release of NCEPLIBS and NCEPLIBS-external needs to continue to be a cmake release. Going back to custom build scripts like hpc-stack is not an option.

The hpc-stack system is for internal NOAA use, to make sure our HPC systems get set up correctly. It is not for public use. It is not, and should not, be the way we attempt to distribute this software to the user community outside of NOA

[2020-10-21 13:49] edwardhartnett commented on #151
I propose we end this version confusion in the following way:
* Merge all changes from public-v2 into develop branch.
* When the next release is needed (public-v2.1?), changes for that release are made to develop instead of a public-v2.1 branch.
* When desired, a 2.1 release is made. We also tag it public-v2.1.
* The develop branch continues to change as it should.
* Any changes made to the public

[2020-10-21 13:56] climbfuji commented on #151
We need to discuss this in a telecon with more people, writing all this up takes too long. The convention that was made for the public releases is that *one* branch release/public-vX is made to support *all* releases X.Y.Z. The next release branch to be cut from develop would thus be release/public-v3 - possibly together with the weather-s2s app release next year.

If the group comes down to using

[2020-10-21 14:13] #147 closed, assigned to nobody

[2020-10-21 14:13] #149 closed, assigned to edwardhartnett

[2020-10-21 14:38] edwardhartnett commented on #151
OK, good, now we are getting to the heart of the confusion.

You say:

Why are we attempting to use git in a unique and interesting way like this?

OK, I think I get it. This is a consequence of distributing the code via git. In order to simplify that, they want a branch name that works everywhere for a long time.

But that does not change the fact that the develop branch should have all the chang

[2020-10-21 15:11] climbfuji commented on #151
This decision was made by the UFS release team leads and UFS code managers when the first public release was prepared. The same branch names are used for ufs-weather-model etc, allows us to keep one branch open for subsequent minor and bugfix releases. Branch will be closed/deleted once the next major release of that particular UFS APP is out the door and we agree that the previous major release i

[2020-10-21 15:20] edwardhartnett commented on #151
OK, thanks for the explanations.

The NCEPLIBS developers will accommodate all necessary changes. That's what we are here to do. ;-)

[2020-10-22 13:27] edwardhartnett opened #154 "We should always include administrators in NCEPLIBS repo branch protection rules for develop branch, and require CI to pass"
On all NCEPLIBS projects we should have branch protection for the develop branch, and that should be enforced on admins as well. (IMO this should be the GitHub default.)

To protect develop against admins means that admins will not be able to merge to develop from the command line - pull requests must be used. This is an important process element and should be enforced everywhere. Especially on ad

[2020-10-22 14:50] edwardhartnett opened #155 "Remove notifications of unsupported compilers"
We have these in many cmake files, like this:

[code]

There is no need for this, for several reasons:
* Fortran and C are highly standardized. Every Fortran compiler that works can build these codes.
* Users already understand that if they are working with an unusual compiler, they are taking risks.
* This is no "officially supported" compiler, because we don't officially support the code at all.

[2020-10-22 14:58] aerorahul commented on #155
even PGI? XLF?
The compiler flags that are set are based on the supported compilers?

I know who to pass the buck when a question comes along.

[2020-10-22 15:01] edwardhartnett commented on #155
The buck stops here. ;-)

[2020-10-22 15:05] kgerheiser commented on #155
I don't think it's a bad warning to have, CMake could pick up one of those compilers automaticall, and we don't have flags for those unsupported compilers.

The builds will not work because we need to set things like '-fdefault-real-8` when we build the different library kinds.

[2020-10-22 15:08] edwardhartnett commented on #155
This is always the case with all free software. Users know this, we know this, and we already tell everyone that we are not providing official support. So no need to belabor the point.

If any actual users complain, direct them to me and I will sort them out.

[2020-10-22 15:15] aerorahul commented on #155
I have to disagree.
Having these few lines saves a lot of headache and I suggest we retain those.

[2020-10-22 17:47] edwardhartnett commented on #154
Also we need to require the CI to pass before code can be merged. It looks like this:

![image](https://user-images.githubusercontent.com/38856240/96910180-52956000-145c-11eb-9245-177a56f42fa9.png)

[2020-10-23 15:11] edwardhartnett commented on #154
OK, I applied this to most projects. Still a few stragglers where I need to figure out why status checks won't work.

@mark-a-potts please note I have turned on protection for the develop branch in NCEPLIBS.

[2020-10-23 15:13] edwardhartnett commented on #121
More doxygen conversion advice, from another issue:

OK, what I'm seeing in the file is:

[code]

So, how to change this?

Doxygen comments start with !> and can be continued with !! or !>. (Or C> for F77 code.)

No need for text like NAME or PURPOSE, and no need to provide the CALLING SEQUENCE, doxygen will understand all those things automatically and display them appropriately.

Extra whitespac

[2020-10-23 15:17] BenjaminTJohnson commented on #121
given my current workload, there’s no way I’ll even be able to touch this
issue for at least two weeks.

[2020-10-23 15:41] edwardhartnett commented on #121
Don't worry I'm just capturing this explanation for other projects in NCEPLIBS. You are not under any deadline for getting documentation working. When you get your repo ready to start on doxygen, let me know and I can help.

[2020-10-24 13:14] edwardhartnett opened #156 "Top-level CMake file does not attempt to find Jasper, netcdf-c, and netcdf-fortran, but it should"
The Jasper library is required but is not checked for at the top-level NCEPLIBS CMake file. Similarly for NetCDF both netcdf-c and netcdf-fortran.

[2020-10-24 13:16] edwardhartnett opened #157 "nemsio and sigio have cmake warnings"
For example:

[code]

[2020-10-24 13:30] edwardhartnett commented on #105
Is this issue still relevant?

[2020-10-24 14:25] edwardhartnett opened #159 "Add CI"
It's a bit of a challenge to see how we will test NCEPLIBS, but tested it must be!

As a starting point we could just have it build everything. There are no top-level tests to run (yet).

[2020-10-27 18:46] edwardhartnett commented on #143
Here's a chart of NCEPLIBS interdependencies. It's complex...

![image](https://user-images.githubusercontent.com/38856240/97347433-696bf600-1852-11eb-8c5b-d435abf8fa8c.png)

[2020-10-27 19:00] edwardhartnett commented on #143
@Hang-Lei-NOAA and @BoiVuong-NOAA here's a disturbing observation. w3emc depends on nemsio, and nemsio depend on w3nco.

So when the two w3 repo are combined, it seems like we will have a circular dependency. Or am I missing something?

[2020-10-27 19:22] BoiVuong-NOAA commented on #143
hi Ed,
I do not know much about nemsio (Hang might).  Now, w3emc also depends on netcdf and hdf5.

[2020-10-28 14:14] #146 closed, assigned to edwardhartnett

[2020-10-28 17:40] edwardhartnett commented on #130
To measure code coverage, compile like this:
[code]

[2020-10-29 20:07] edwardhartnett opened #162 "template for issues"
Arun has suggested we put together a template for issues, so that the NCEPLIBS issues list can be the one-stop-shop for people to get support on NCEPLIBS.

Outside users will be able to put an issue in NCEPLIBS, and, if it applies only to some of the libraries, we will add issues as needed to work the problem internally, and use the NCEPLIBS issue to ensure the user needs are met.

[2020-11-02 16:34] edwardhartnett commented on #131
I believe all NCEPLIBS libraries now have good release notes that have a similar look and feel. I will close this issue.

[2020-11-02 16:34] #131 closed, assigned to nobody

[2020-11-04 21:27] #162 closed, assigned to edwardhartnett

[2020-11-04 21:28] edwardhartnett commented on #159
@kgerheiser this would be a great CI to get going as well...

[2020-11-05 14:53] GeorgeVandenberghe-NOAA opened #166 "What should our modules set. For example what should a NETCDF module set"

[2020-11-06 14:55] junwang-noaa opened #167 "install upp lib on cray"
We are merging GFS.v16 production branch back to ufs-weather-model develop branch. The nceppost lib is renamed to upp in GFS.v16. Currently the upp lib is added to hpc-stack, and we tested it on hera/orion/dell. But on cray, there is no hpc-stack. So we need the upp lib to be installed under /usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS_UFS/modules, where all the nceplibs are used in ufs-we

[2020-11-06 14:58] edwardhartnett commented on #167
@Hang-Lei-NOAA can you do this?

[2020-11-06 14:59] Hang-Lei-NOAA commented on #167
Okay, I will install it today

[2020-11-06 21:11] Hang-Lei-NOAA commented on #167
The upp/10.0.0 is installed on cray.
/usrx/local/nceplibs/NCEPLIBS/cmake/install/NCEPLIBS_UFS/modules

[2020-11-06 21:11] #167 closed, assigned to Hang-Lei-NOAA

[2020-11-10 18:41] aerorahul opened #169 "py-ncepbufr on Orion and Hera."
**Is your feature request related to a problem? Please describe.**
The JEDI DA projects require python API for bufr.
The API is available at: https://github.com/JCSDA-internal/py-ncepbufr

**Describe the solution you'd like**
Install the python API in the NCEPLIBS area on Hera and Orion.
A request for WCOSS_Dell_P3 will be forthcoming.

[2020-11-12 16:13] PerryShafran-NOAA opened #170 "Updating g2c to v1.6.0 on WCOSS"
We have discovered that MET fails to read grib2 files, and thanks to the help from the met_help folks at the DTC, we have traced that to the g2c library.  At the DTC, they did not have any problems reading a very large grib2 file, while I did have problems on WCOSS.  The DTC has g2c version 1.6.0, but we only have version 1.5.0 on WCOSS Dell.

Can we get an upgrade of g2c to version 1.6.0 on WCOSS

[2020-11-13 14:53] edwardhartnett commented on #121
Here's how the gh-pages branch needs to be updated every time a new version of a library is released.

What you do is first build the docs:

[code]

Now the docs are in NCEPLIBS-g2c/build/docs/html.

Then, take another clone of the repo, switch to the gh-pages branch, delete contents, and add the HTML output:

[code]

Take care that you are on the gh-pages branch before doing `git rm -rf *`!

Afte

[2020-11-13 17:26] edwardhartnett opened #171 "What are the responsibilities of the code manager?"
We have identified a code manager for each NCEPLIBS repo. What do we expect from this role?

Here's a slideshow that explains what a code manager's responsibilities are...

[NCEPLIBS Code Manager Responsibilities.pdf](https://github.com/NOAA-EMC/NCEPLIBS/files/5538355/NCEPLIBS.Code.Manager.Responsibilities.pdf)

[2020-11-13 18:07] edwardhartnett opened #172 "Standard procedure for NCEPLIBS releases"
What is the standard procedure for NCEPLIBS releases?

Here's a slideshow describing the process...
[NCEPLIBS Releases.pdf](https://github.com/NOAA-EMC/NCEPLIBS/files/5538571/NCEPLIBS.Releases.pdf)

[2020-11-18 13:41] edwardhartnett commented on #152
Response to email to eccodes team, asking about attitude towards collaboration and contributions, and team size supporting eccodes:

[2020-11-19 19:04] edwardhartnett opened #173 "Release version 1.3.0 to match hpc-stack-1.1.0"
We are releasing a new version of hpc-stack, and it involves some new versions of some of the NCEPLIBS. So we need a matching release of NCEPLIBS.

See https://github.com/NOAA-EMC/hpc-stack/issues/72

[2020-11-20 16:05] BenjaminTJohnson commented on #152
CRTM (https://github.com/JCSDA/crtm/)  supports ecbuild, and build out of
master and develop branches.    I would be in support of using eccodes
(ecbuild specifically), it would make my life marginally easier, but it's
not required.

We use eccodes by default in all JCSDA/JEDI libraries and applications, and
have had very little need to interact with the ECMWF support.  When we have
had questions,

[2020-11-24 18:21] edwardhartnett commented on #170
This is happening as part of the hpc-stack-1.1.0 release, which is imminent. You can follow the action here: https://github.com/NOAA-EMC/hpc-stack/projects/1

The new version of hpc-stack has g2c-1.6.2. It will be installed on WCOSS Dell as part of the release.

(This is related to https://github.com/NOAA-EMC/NCEPLIBS-g2c/issues/35).

[2020-11-24 18:22] edwardhartnett commented on #170
This still has to be updated in the NCEPLIBS release...

[2020-11-24 18:27] PerryShafran-NOAA commented on #170
Thank you!  I wasn't sure if I put this in the right section, but I did hear that there was some updates based on what I saw that Mallory Row had asked for, I think in the hpc-stack section.  Thanks for helping with this!

[2020-11-24 21:23] kgerheiser commented on #173
I checked against hpc-stack and the only difference is prod_util and wgrib2

All other libraries are up-to-date

[2020-11-30 15:00] edwardhartnett commented on #155
I believe this has been done everywhere. I will close this issue.

[2020-11-30 15:00] #155 closed, assigned to edwardhartnett

[2020-12-02 17:31] edwardhartnett commented on #173
This should be closed when the release is complete...

[2020-12-02 17:39] edwardhartnett commented on #173
I have drafted release notes...

[2020-12-02 20:14] chan-hoo opened #177 "Add NCEPLIBS/2.0.0 on WCOSS_Dell"
@Hang-Lei-NOAA,
Please add 'NCEPLIBS/2.0.0' to '/usrx/local/nceplibs/dev/NCEPLIBS/cmake/install/NCEPLIBS/' on WCOSS_Dell.
I can find it on WCOSS_Cray but not on WCOSS_Dell.
It is necessary for SRW App users to build the app on Dell with ease.

[2020-12-02 20:31] kgerheiser commented on #177
~It's already installed~

~`/usrx/local/nceplibs/dev/NCEPLIBS/cmake/install/NCEPLIBS-ufs-v2.0.0/`~

Disregard, I thought I already put it there, but I didn't

[2020-12-02 20:41] Hang-Lei-NOAA commented on #177
With Kyle's help, I am installing it now

[2020-12-03 02:52] Hang-Lei-NOAA commented on #177
@chan-hoo
It is installed on
module use /usrx/local/nceplibs/dev/NCEPLIBS/cmake/install/NCEPLIBS-ufs-v2.0.0/ips-18.0.1.163/impi-18.0.1/modules
for both dell machines.

[2020-12-03 02:54] Hang-Lei-NOAA commented on #173
It has been installed on both dell machines:
module use /usrx/local/nceplibs/dev/NCEPLIBS/cmake/install/NCEPLIBS-v1.3.0/modules

[2020-12-03 11:56] chan-hoo commented on #177
@Hang-Lei-NOAA @kgerheiser  It works! Thank you!

[2020-12-03 11:56] #177 closed, assigned to nobody

[2020-12-03 12:25] climbfuji commented on #177
So is `/usrx/local/nceplibs/dev/NCEPLIBS/cmake/install/NCEPLIBS-ufs-v2.0.0/ips-18.0.1.163/impi-18.0.1` the top-level directory for the NCEPLIBS-ufs-v2.0.0 installation for the UFS SRW App release on wcoss_dell_p3 and wcoss_cray? I am trying to keep track of those. Thanks!

[2020-12-03 12:27] climbfuji commented on #177
Thus far, I had in the spreadsheet for the UFS SRW App (from @kgerheiser and @RatkoVasic-NOAA)
[code]
At least on wcoss_cray, the compiler version differs. Can you please clarify?

[2020-12-03 14:21] RatkoVasic-NOAA commented on #177
Wcoss phase 3/3.5 is DELL and all worked with intel 18, but on cray it didn't, so Kyle had to bump to Intel 19 in order for build to work.

[2020-12-03 14:56] climbfuji commented on #177
Ok, thanks. @chan-hoo so you are using Intel 19 on wcoss_cray then?

[2020-12-03 15:03] chan-hoo commented on #177
@climbfuji  Yes. Intel/19.0.5.281 on cray.

[2020-12-03 15:05] climbfuji commented on #177
Ok, thanks.

[2020-12-03 23:50] pmspire opened #181 "How to use -DDOWNLOAD_ONLY=ON to download source?"
**Describe the bug**
I try to use `-DDOWNLOAD_ONLY=ON` as described in `README.md` to download the source code for the libraries, but the `download` directory thus created is a shallow hierarchy of empty directories, with no source files.

**To Reproduce**
[code]
**Expected behavior**
A `download` directory populated with source code.

**Build Information**
See above.

**System**
Linux (RHEL 7.7)

[2020-12-03 23:56] kgerheiser commented on #181
Perhaps counterintuitive, but you need to run `make tarball` and it will start the download process (without building) and create a tarball in the main directory.

We can update the documentation to make this more clear.

We use ExternalProject_Add to do the download and it starts at build time when you run make instead of configure time when you run CMake.

[2020-12-04 00:05] pmspire commented on #181
Thank you, @kgerheiser! I should have read further and realized that an extra step is necessary, instead of stopping short after examining the `download` directory. A slight tweak to the docs might help someone, but this one's on me.

[2020-12-04 00:05] #181 closed, assigned to kgerheiser

[2020-12-04 00:17] pmspire commented on #181
Pushing my luck a bit, do you happen to know if there's a strong correspondence between the `libsrc` submodule in https://github.com/NOAA-EMC/GSI (which, unfortunately, is not yet public as far as I can tell, and is only available via NOAA-private git) and this NCEPLIBS repo here? I'm trying to build GSI and have had trouble getting it to find pre-built `bacio`, `bufr`, etc., as described in https

[2020-12-04 13:47] edwardhartnett commented on #151
OK, I'm a little confused about whether public-v2 changes need to be merged to develop. Do they?

Or should this issue be closed?

[2020-12-04 13:50] edwardhartnett commented on #171
I will close this issue...

[2020-12-04 13:50] #171 closed, assigned to edwardhartnett

[2020-12-04 13:53] edwardhartnett commented on #150
Has this work been completed? Should this issue be closed?

[2020-12-04 13:55] #144 closed, assigned to edwardhartnett

[2020-12-04 13:58] edwardhartnett commented on #127
We have decided to do this only after some testing is in place.

[2020-12-04 14:00] edwardhartnett commented on #122
The latest on this is that Kyle changed ip2 to no longer use the same names.

Now the libraries can be combined.

[2020-12-04 14:00] edwardhartnett commented on #124
This has been completed.

[2020-12-04 14:00] #124 closed, assigned to Hang-Lei-NOAA, BoiVuong-NOAA

[2020-12-04 14:03] edwardhartnett commented on #121
THe status on this is that many projects now have their first draft of documentation.

UFS_UTIL and w3emc are still under development. I do a PR every few days, hopefully both will have complete first drafts of documentation by the end of the year.

I am also doing documentation for UPP, and that is underway. I am waiting for the UPP to merge an outstanding development PR before I do the next roun

[2020-12-04 14:03] BoiVuong-NOAA commented on #127
Yes, You are right.  The testing will take some times to write some codes. Do you have some one to help ?

[2020-12-04 14:07] edwardhartnett commented on #120
The READMEs are all now in pretty good shape. I will close this issue.

[2020-12-04 14:07] #120 closed, assigned to edwardhartnett

[2020-12-04 14:08] #87 closed, assigned to nobody

[2020-12-04 14:08] edwardhartnett commented on #105
Is this issue still relevant?

[2020-12-04 14:09] edwardhartnett commented on #67
Has this been completed? Should this issue be closed?

[2020-12-04 14:11] edwardhartnett commented on #37
Is this work complete? Are there still some NCEPLIBS without a debug build? If so, which ones?

[2020-12-04 14:12] #105 closed, assigned to kgerheiser, aerorahul

[2020-12-04 14:12] edwardhartnett commented on #36
Is this going to happen? If so, is it going to be in the 1.3.0 release?

[2020-12-04 14:13] edwardhartnett commented on #127
@BoiVuong-NOAA not yet. ;-)

[2020-12-04 14:13] aerorahul commented on #169
The python API is now in the bufr library.
This issue can now be closed.

[2020-12-04 14:13] #169 closed, assigned to aerorahul

[2020-12-04 14:29] climbfuji commented on #36
I won't be able to work on this, but all hardcoded `lib` directories should be replaced by `${CMAKE_INSTALL_LIBDIR}`.

We could go further and do this for all others as well (`bin`, `share`), but because all systems use the same names for those I consider this an overkill.

[2020-12-04 14:32] climbfuji commented on #150
This work was completed in release/public-v2. It's not in develop and per @aerorahul it won't go there. In release/public-v2, we also converted all lua modulefiles to tcl modulefiles, because at that time we didn't have lua support on gaea (which we now do).

[2020-12-04 14:32] #150 closed, assigned to climbfuji

[2020-12-04 14:32] climbfuji commented on #151
Per @aerorahul , no.

[2020-12-04 14:32] #151 closed, assigned to nobody

[2020-12-04 14:33] kgerheiser commented on #36
It's easy enough. Some libraries (wgrib2, maybe some others) already do this. Just have to make it consistent.

[2020-12-09 14:30] PerryShafran-NOAA opened #182 "Converting verf_gridtobs code to bufr 11.3.0"
Hi, there,

I need to convert my verf_gridtobs code to bufr 11.3.0.  Apparently there have been errors in the compile, and I need help in fixing that.

The code and the log with the errors are here:

/gpfs/dell2/emc/verification/save/Perry.Shafran/verif_bufr11.3.1/sorc
/gpfs/dell2/emc/verification/save/Perry.Shafran/verif_bufr11.3.1/sorc/makeit.log

Can you assist me in figuring out why I'm gettin

[2020-12-09 14:41] kgerheiser commented on #182
Can you post the error here?

There's also existing installations of bufr you could use if you don't want to build it yourself.

[2020-12-09 14:45] PerryShafran-NOAA commented on #182
The errors look like this.

rm -rf *.o *.lst
ifort -heap-arrays -O0   -c -o gtgdef.o gtgdef.f
ifort -heap-arrays -O0   -c -o raddate.o raddate.f
ifort -heap-arrays -O0   -c -o w3fi71.o w3fi71.f
ifort -heap-arrays -O0   -c -o editbufr.o editbufr.f
ifort -heap-arrays -O0   -o ../../exec/verf_gridtobs_editbufr gtgdef.o  raddate.o  w3fi71.o  editbufr.o /gpfs/dell1/nco/ops/nwprod/lib/g2/v3.1.0/ips/18.0

[2020-12-09 14:47] PerryShafran-NOAA commented on #182
Oh, I'm not building a bufr library - I'm compiling my codes with the bufr library, using the file /gpfs/dell2/emc/verification/save/Perry.Shafran/verif_bufr11.3.1/sorc/makeit, and the modules file in that sorc directory.

[2020-12-09 14:48] PerryShafran-NOAA commented on #182
I'm pretty sure the 2nd set of errors in the list above has to do with the use of COMMON statements that I'll need to use module files for those, but I'm not sure how to solve the other errors.

[2020-12-09 14:48] kgerheiser commented on #182
Looks like the bufr library isn't being linked to properly. What does your link line look like? Are you using make or CMake?

[2020-12-09 14:50] PerryShafran-NOAA commented on #182
I'm using make.

I'm compiling for several codes.

[2020-12-09 14:54] PerryShafran-NOAA commented on #182
Looks like you're right!  The link isn't being done properly for those specific codes.  Let me look into that for a quick sec and get back to you.

[2020-12-09 14:57] PerryShafran-NOAA commented on #182
OK, I think I figured it out.  I think it had to do with the link to the supersize bufr file, which is no longer in use for 11.3.0.  I think that's it.

[2020-12-09 15:51] kgerheiser commented on #182
Going to close this unless you're still having issues.

[2020-12-09 15:51] #182 closed, assigned to nobody

[2020-12-09 15:53] PerryShafran-NOAA commented on #182
I think I'm all set now!  I got it compiled, which I think is the most important part.  I think I got it from here.  Thanks for your help!

[2020-12-16 05:13] #173 closed, assigned to kgerheiser

[2021-01-10 21:21] rgrumbine opened #183 "w3nco build fail on cputim in summary.c"
**Describe the bug**
Make of w3nco, fails because function 'times' is being seen as implicit declaration on MacOS 10.15, gfortran, gcc. No such function seems to exist.

'times' is referenced only in cputim, in summary.c  The argument to 'times' is a custom variable type.

**To Reproduce**
cd Downloads/
git clone --recursive https://github.com/NOAA-EMC/NCEPLIBS
export FC=gfortran
export CC=gcc
exp

[2021-01-11 15:36] kgerheiser commented on #183
I am able to reproduce this behavior. Though, it's not using GCC, it's Clang. Apple links symlinks GCC to Clang by default on macOS.

I can't even find where `times` is declared (or if it is at all).

@BoiVuong-NOAA do you know about this?

[2021-01-11 16:08] BoiVuong-NOAA commented on #183
No, I do not know it. But, I found "times" used in summary.c.  The program developed by IBM in 1999 for AIX system.  Now, It is obsolete.  Do you think we should remove it from W3EMC ?  Now, W3NCO  has combined into W3EMC.

[2021-01-11 16:15] kgerheiser commented on #183
You know more than me. If it's not used then I think it should be removed.

I see that `summary` is called in `w3tagb.f`. If that's also not being used then `w3tagb.f` should also be removed.

If any of these functions were used there would probably be an undefined symbol which makes me think it's not being used anywhere.

[2021-01-11 16:16] rgrumbine commented on #183
I would encourage deletion or replacement with something that is language standard-compliant.

[2021-01-11 16:24] kgerheiser commented on #183
I think this reared its head because of macOS 11.0 and Apple Clang 12.0. We normally test on macOS but the update made this an error instead of a warning.

[2021-01-11 16:26] BoiVuong-NOAA commented on #183
Kyle, It is using in w3tagb.f to report the RESOURCE STATISTICS.  we do not need this information any more in newer machine such as DELL, CRAY or ACORN or HERA.  We will remove summary.c in next version of W3EMC.

[2021-01-11 16:26] rgrumbine commented on #183
I'm on OS 10.15. But yes, I think as part of the preparations for 11.0, Apple made the standard compliance error instead of warning. It'd be a good test in general to compile the libs with language standard compliance flags. Alas, the flags differ between compilers.

[2021-01-11 16:31] BoiVuong-NOAA commented on #183
There is a FORTRAN summary.f in W3EMC.  In the mean time, You can replace (summary.c) in w3nco with Fortran version summary.f

subroutine summary
end subroutine

[2021-01-11 16:46] rgrumbine commented on #183
replacing summary.c with summary.f did not work as the build system expects summary.c and gave error message complaint.

but commenting out the interior code in summary.c and adding:

*usr = 0;
*sys = 0;

allowed compilation of the library to complete.

Thanks

[2021-01-11 16:48] kgerheiser commented on #183
My fix here: https://github.com/NOAA-EMC/NCEPLIBS-w3emc/pull/62

Was to just remove summary.c and w3tagb.f completely

[2021-01-11 16:49] rgrumbine commented on #183
Yes, the better long term solution. But this will require updates to the build system, which expects summary.c, and I didn't want to mess with.

[2021-01-11 16:50] kgerheiser commented on #183
Going to close this issue as we have fixed it in the source library.

[2021-01-11 16:50] #183 closed, assigned to nobody

[2021-02-04 20:14] jbathegit commented on #121
Here are the Doxygen tips and notes from my NCEPLIBS presentation earlier today: https://docs.google.com/document/d/13d1X8GjiFhe72aG6zKoJ5tJfSWeYfQCGVSMNgNpaDvY/edit?usp=sharing

[2021-02-04 20:19] jbathegit commented on #130
Even though we didn't get to them during today's shortened NCEPLIBS meeting, here are my testing notes and tips: https://docs.google.com/document/d/1-vD24bjNcJTXGeu4rAHhJ9u_S7WcUmd75vX2wrFik88/edit?usp=sharing

[2021-02-05 13:32] edwardhartnett commented on #130
We will go over these at the next NCEPLIBS meeting. I look forward to it!

[2021-02-05 21:24] aerorahul opened #184 "Add new NCEPLIBS library: ncio"
In GFS v16 the model (UFS) will start producing netCDF output (as opposed to nemsio).  The analysis system (GSI) and utilities such as recentering the ensemble in the workflow, GEFS and others use an netCDF user-interface library [here](https://github.com/NOAA-EMC/GSI/tree/master/src/fv3gfs_ncio) to read and write netCDF files produced by the model.  It is built as a self-contained library in the

[2021-02-05 23:38] jswhit commented on #184
I did this a while ago ([NCEPLIBS-ncio](https://github.com/NOAA-EMC/NCEPLIBS-ncio)) but it is now out of sync with the version in GSI

[2021-02-08 15:31] aerorahul commented on #184
@jswhit
Thank you for pointing us to the repository.  In your opinion, is it faster/worthwhile to merge the `GSI` version of `fv3gfs_ncio` into your repository or start fresh?
@arunchawla-NOAA @edwardhartnett
This library is required for `global-workflow` utility of `enkf_chgres_recenter_nc.fd`.  This utility is used in v16 as well as in GEFS workflows.
This is a blocker on the issue https://githu

[2021-02-08 15:40] arunchawla-NOAA commented on #184
@edwardhartnett

Can we make this part of NCEPLIBS? I would prefer if it did not have the name fv3gfs in it because that would imply that it works only for one application. UFS_ncio or plain NCEPLIBS-ncio is fine with me. We should be focussing on netcdf io anyway

[2021-02-08 15:46] edwardhartnett commented on #184
I agree it would be great to isolate the I/O code. THat would really help my I/O work as well! For example we can including benchmarking tests, which can be used to help us know that we are getting the I/O we need out of all our systems.

@jswhit please make be an admin of the NCEPLIBS-ncio repo and I will integrate it into the rest of NCEPLIBS.

I will volunteer to write the tests, since this is

[2021-02-08 15:56] jswhit commented on #184
@aerorahul I think it's probably better to start fresh, there have been a lot of changes (including addition of MPI by @CoryMartin-NOAA), plus a name change is warranted as pointed out by @arunchawla-NOAA

@edwardhartnett I'm not the admin of NCEPLIBS-ncio (I think @Hang-Lei-NOAA  is)

[2021-02-08 15:59] aerorahul commented on #184
@jswhit2
I will move the `NCEPLIBS-ncio` repo to `NCEPLIBS-ncio-old` and start with a new fresh code dump from the `GSI`.
Then add `CMake` build and make @edwardhartnett the admin so he can do his magic.
Is that agreeable to all?

[2021-02-08 16:00] jswhit commented on #184
sounds great, thanks @aerorahul.  Once that is done can we remove it from GSI?

[2021-02-08 16:05] arunchawla-NOAA commented on #184
will this library work only for the atmospheric fields? Can it handle the capabilities that are right now in write grid component, i.e. parallel compressed netcdf I/O. I ask if this can be extended to be used by other component models in the UFS?

[2021-02-08 16:09] CoryMartin-NOAA commented on #184
@arunchawla-NOAA this is what we use to read the model forecast atmf006 and sfcf006 files in GSI for GFSv16 in parallel compressed netCDF.

[2021-02-08 16:09] aerorahul commented on #184
I think it is a general friendly API to the netCDF Fortran library and provides interfaces similar to netCDF-python for accessing data in the netCDF file.
The only downside is for writing a file, it depends on a template.

Who produces the file, atm or ocean or anything else is probably irrelevant.

[2021-02-08 16:25] Hang-Lei-NOAA commented on #184
This code is for GSI and originally created by Jeff. The NCEPLIBS team just
managed it.
Whatever the change is needed by GSI, it should be made.
Once the new repo is used. We will clean the old repo, which is also a task
under our refactoring plan.

On Mon, Feb 8, 2021 at 11:09 AM Rahul Mahajan <notifications@github.com>
wrote:

[2021-02-08 18:04] arunchawla-NOAA opened #185 "Adding eccodes to NCEPLIBS suite"
**Is your feature request related to a problem? Please describe.**

Need to modernize our grib library suites with an interface for python.

**Describe the solution you'd like**

eccodes is an open source library suite that is developed by ECMWF. I want to see if EMC can create a fork and explore supporting it as part of the NCEPLIBS suite

**Resources and Schedule**

TBD

[2021-02-08 18:34] aerorahul commented on #184
2 PR's have been created in the `NCEPLIBS-ncio` repository
https://github.com/NOAA-EMC/NCEPLIBS-ncio/pull/3 - clean up of cmake build (no source code changes)
https://github.com/NOAA-EMC/NCEPLIBS-ncio/pull/4 - replace source code with GSI tag [gfsda.v16.0.0](https://github.com/NOAA-EMC/GSI/tree/gfsda.v16.0.0)
@edwardhartnett is an admin of [NCEPLIBS-ncio](https://github.com/NOAA-EMC/NCEPLIBS-ncio)

[2021-02-08 20:17] aerorahul commented on #184
closing this issue.
- ncio **was** already available as a nceplibs-ncio.  It has now been updated to the current version in the GSI.
- Further development of this library should occur in nceplibs-ncio and not in GSI
- A PR is issued to add nceplibs-ncio to hpc-stack. See https://github.com/NOAA-EMC/hpc-stack/pull/157

[2021-02-08 20:17] #184 closed, assigned to edwardhartnett

[2021-03-01 21:50] edwardhartnett commented on #121
More tips:

[2021-03-31 11:47] climbfuji opened #187 "Identify changes in ufs-v2.0.0 branch that need to be merged into develop; what is the future of NCEPLIBS-external + NCEPLIBS?"
The latest public release contains updates that are not in develop. We need to go through those and make sure that whatever is needed/desired finds its way back into develop.

The develop branches of NCEPLIBS-external and NCEPLIBS must be functional together. This is a little difficult, because NCEPLIBS-external is only updated when releases are made - and we have no testing protocol for the two r

[2021-03-31 13:41] edwardhartnett commented on #187
We do not abandon NCEPLIBS-external and NCEPLIBS for hpc-stack.

However, I do not understand this issue. Can you provide a specific example?

Do you mean that one or more of the NCEPLIBS libraries has changes on a v2.0.0 branch that needs to be merged to develop of those libaries?

Or you mean that the versions of some of the NCEPLIBS has changed, so we need to update the versions in the NCEPLIBS

[2021-03-31 13:46] climbfuji commented on #187
The issue is that if someone is trying to install NCEPLIBS-external and then NCEPLIBS using "develop" for both, it will not work. And I think it should, but it requires time to update and maintain the two packages.

[2021-03-31 13:49] kgerheiser commented on #187
I think we should start automatically testing that. I will bring in changes from `release/public-v2` and create a Github Action to test building NCEPLIBS with NCEPLIBS-external.

[2021-03-31 17:07] climbfuji commented on #187
Thanks Kyle, that's great. Please let me know if you need my help with any of this, e.g. NCEPLIBS-external.

[2021-04-02 03:16] afernandezody opened #188 "Cannot find NetCDF"
Hello,
The NCEPLIBS installation is not finding netCDF:
[code]
The command nc-config is up and running (netCDF 4.8.0-development). I have tried to declare the netCDF lib(rary) and include paths as either cmake variables or regular environmental variables, but maybe I'm just not using the right names. Thanks.

[2021-04-02 13:25] edwardhartnett commented on #188
Did you set CMAKE_PREFIX_PATH to include the netCDF install directory?

[2021-04-02 16:14] afernandezody commented on #188
It seems that that was the missing piece. Thank you!

[2021-04-02 16:14] #188 closed, assigned to nobody

[2021-04-11 12:11] edwardhartnett commented on #122
The libraries have been combined. I will close this issue.

[2021-04-11 12:11] #122 closed, assigned to kgerheiser, GeorgeGayno-NOAA

[2021-04-11 12:14] edwardhartnett commented on #126
This has been accomplished. I will close this issue.

[2021-04-11 12:14] #126 closed, assigned to Hang-Lei-NOAA

[2021-04-11 12:15] edwardhartnett commented on #154
This has been turned on everywhere and is working well.

[2021-04-11 12:15] #154 closed, assigned to edwardhartnett

[2021-04-11 12:17] edwardhartnett commented on #121
Here's a presentation I gave on doxygen:
[Doxygen and the UFS Code.pdf](https://github.com/NOAA-EMC/NCEPLIBS/files/6291711/Doxygen.and.the.UFS.Code.pdf)

[2021-04-11 12:19] #157 closed, assigned to edwardhartnett

[2021-04-11 12:21] edwardhartnett commented on #128
I believe this has been accomplished in all repos where I can accomplish it. I cannot change the standard EMC custom of doing tags instead of releases, and requiring that uses use git to get the code, but at least all the NCEPLIBS have working tarballs and can have proper releases.

[2021-04-11 12:21] #128 closed, assigned to edwardhartnett

[2021-04-11 12:22] edwardhartnett commented on #67
Has this been completed? Should this issue be closed?

[2021-04-12 22:45] mkavulich commented on #187
I will just add that I also do not understand the purposes of these different packages. What are the differences in use case between hpc-stack and NCEPLIBS-external/NCEPLIBS?

[2021-04-13 12:38] edwardhartnett commented on #187
NCEPLIBS and NCEPLIBS-external are CMake-based builds which were specifically designed to help outside users build our software.

hpc-stack is a non-standard, home-rolled script package that installs our software, and many other packages, on our machines. It is not something we want to distribute or maintain for the user community. It installs mostly other (i.e. non-NOAA) software and we want noth

[2021-04-22 15:09] edwardhartnett opened #189 "Update README to remove version numbers of NCEPLIBS"
The README is not the place to document the version numbers, since it will drift out of date and there's no way to check it.

Instead I'll include a short description of each package.

[2021-04-22 15:31] #189 closed, assigned to edwardhartnett

[2021-05-05 10:10] edwardhartnett commented on #159
Seems like this has been done.

[2021-05-05 10:10] #159 closed, assigned to kgerheiser

[2021-05-05 10:11] edwardhartnett commented on #145
This has been done.

[2021-05-05 10:11] #145 closed, assigned to GeorgeGayno-NOAA

[2021-05-05 10:14] edwardhartnett opened #191 "All NCEPLIBS code must build without warnings with GNU and -Wall+-Werror"
As it says in the NCO code standards (https://www.nco.ncep.noaa.gov/idsb/implementation_standards/):

`Code must compile without errors and warnings`

This is excellent guidance. Warnings are one of the cheapest and easiest ways to find bugs, but only work if we ruthlessly stamp them out every time they appear.

Repo status:
- [x] bacio
- [x] bufr
- [x] g2c
- [x] g2tmpl
- [x] g2
- [x] ip
- [ ] nci

[2021-05-11 15:23] edwardhartnett commented on #127
This can be done after the next NCEPLIBS release.

[2021-05-25 21:43] afernandezody opened #192 "Error with -127_8 integer"
Hello,
The compilation with GNU 11.1.0 is producing the following error:
[code]

I used cmake 3.20.2 for configuration before running make. Ealier GCC versions compiled w/o this issue. A bit of research points to "127_8" not being a default integer kind and that accepting non-default integers is an extension (maybe the GNU Team is deprecating it from v11 on). Thank you.

[2021-05-26 02:16] kgerheiser commented on #192
Thanks for the bug report. I think you're the first one to try using GNU 11.

[2021-05-26 13:52] afernandezody commented on #192
If I find the w3ai00.f file in the Github repository, I will push a PR this evening.

[2021-05-26 15:17] edwardhartnett commented on #192
@afernandezody it is here: https://github.com/NOAA-EMC/NCEPLIBS-w3emc/blob/develop/src/w3ai00.f

[2021-05-27 00:18] afernandezody commented on #192
Hi @**edwardhartnett**,
I might have chosen the wrong title. My objective here is simply to compile UPP so I'm unsure which is better either the regular NCEPLIBS or the NCEPLIBS-w3emc version. Said that, the issue is simply that MIN0 and MAX0 were long phased out and GCC11 doesn't accept them anymore. I'll submit the PRs and close the issue. Best.

[2021-05-27 00:38] afernandezody commented on #192
I submitted the PR from the coder account. Not sure if for my purposes, I should simply go with wrf_io.

[2021-05-27 00:58] kgerheiser commented on #192
Thanks for the PR. I have approved it. This won't reflect immediately when building NCEPLIBS though as we have to tag a release and update the version here.

[2021-05-29 13:51] #192 closed, assigned to nobody

[2021-06-02 14:58] Hang-Lei-NOAA opened #193 "Circular dependencies in NCEPLIBS"
**Describe the bug**
This is following Chief's order to open the ticket on NCEPLIBS repo level and to find a solution.
NCEPLIBS has some hidden circular dependencies. We don't normally find these because there are no interfaces and we statically link, but when building shared libraries you need to resolve all symbols. The main issue is that combined w3emc (w3emc+w3nco) depends (gblevents code rely

[2021-06-03 14:35] edwardhartnett commented on #193
As far as I know there is only one circular dependency problem: the gblevents problem, which is a result of combining the w3emc and w3nco libraries.

There is a discussion here: https://github.com/NOAA-EMC/NCEPLIBS-w3emc/issues/71

It has been proposed to add gblevents to UFS_UTILS: https://github.com/NOAA-EMC/UFS_UTILS/issues/523

Will this work? @kgerheiser says that UFS_UTILS is different becau

[2021-06-03 15:18] Hang-Lei-NOAA commented on #193
Obspro prep is the main code for prep step of workflow, which is used by both GSI and GFS.
The code is operated by obspro group. I believe that the code ObsProc_global is kept on vlab.

[2021-06-04 16:04] edwardhartnett commented on #193
We have decided to move this to UFS_UTILS immediately. @Hang-Lei-NOAA will work with @GeorgeGayno-NOAA and @kgerheiser to put this in UFS_UTILS next week. @kgerheiser will then help get out another release of UFS_UTILS with the gblevents subroutine.

The global workflow downloads a version of UFS_UTILS and builds it.

We will then work with the obspro prep team to see if they would like to take th

[2021-06-09 14:23] coderodyhpc opened #194 "Errors building NCEPLIBS using PGI Fortran compiler"
Hello,
I'm getting a long list of errors that begin with:
[code]
This cascades down and the compilation fails. I'm also getting Compiler not officially supported: NVHP, which I have already bumped into with UPP. It seems that the Fortran compiler is more sensitive than GCC (or whichever compiler the NCEPLIBS Team is using). Is this a dead end, is there any way to push through the compilation or an

[2021-06-09 14:42] climbfuji commented on #194
At this point, we only support gfortran and ifort. If you want to provide us with the necessary code/build changes so that the code works with nvfortran, we will certainly welcome your contribution.

[2021-06-09 14:43] kgerheiser commented on #194
NCEPLIBS will not build with compilers other than GNU/Intel without some work. Many of the libraries rely on specific compiler flags such as `-fdefault-real-8`  (GNU), `-r8` (Intel) to be compiled correctly. So, each library's build would have to be updated for a new compiler and the correct flags added. We do not use the Nvidia compilers.

[2021-06-09 15:03] coderodyhpc commented on #194
Hi @**kgerheiser** & @**climbfuji**,
It sounds like a very time-consuming task. I have neither the time (nor maybe the skills) to go on this trip. Maybe I'll take a look at it next month (time permitting). Therefore I will close the thread for the time being and will reopen if I make any progress (alternatively push a PR). Thanks.

[2021-06-09 15:22] aerorahul commented on #194
@coderodyhpc
If I am not mistaken, CMake recognizes NVIDIA compilers as "PGI".
If the NCEPlibs team could port a couple of libraries to PGI, it would open the pathway to building with the NVIDIA toolkit.
After that:
[code]

[2021-06-09 16:21] kgerheiser commented on #194
I can look into it. Looks like the Nvidia (PGI) compilers are free to download now.

[2021-06-09 19:49] afernandezody commented on #194
They are free to download but (as usual) they ask you to read the SLA carefully. A word of caution is that the Nvidia people don't like when others keep referring to them as the PGI compilers, although they sometimes (have to) refer to them as PGI legacy. Just my two cents.

[2021-06-09 19:56] coderodyhpc commented on #194
They are free to download but (as usual) they ask you to read the SLA carefully. A word of caution is that the Nvidia people don't like when others keep referring to them as the PGI compilers, although they sometimes (have to) refer to them as PGI legacy. Just my two cents.

[2021-06-16 15:42] edwardhartnett commented on #194
The code should build with any standard fortran compiler, and we need to make the cmake build smart enough to do that.

[2021-06-22 15:43] kgerheiser commented on #194
I've started working on this starting with NCEPLIBS-sp (https://github.com/NOAA-EMC/NCEPLIBS-sp/pull/56). I'll work my way through the libraries.

[2021-08-18 17:23] edwardhartnett opened #196 "Need to do a new release corresponding to hpc-stack-1.2.0"
We did a hpc-stack release, we need to update NCEPLIBS as well.

[2021-08-18 17:24] edwardhartnett commented on #172
We have been using this release procedure successfully for some months now. I will close this issue.

[2021-08-18 17:24] #172 closed, assigned to edwardhartnett

[2021-08-18 17:42] edwardhartnett opened #197 "Complete Doxygen Conversion"
Much progress has been made on documentation over the last year. In this epic we will complete the conversion of NCEPLIBS legacy code documentation to doxygen, and support built documentation for each release of each library.

[2022-01-05 15:13] GeorgeGayno-NOAA opened #200 "Need tag with an updated G2LIB"
UFS_UTILS uses this tag for its automated Github unit tests - https://github.com/NOAA-EMC/NCEPLIBS/releases/tag/v1.3.0

This tag points to v3.4.1 of G2. That version of G2 has a bug that causes a unit test failure when using the GNU compiler (the Intel tests do not fail, however).

I ran the unit tests on Hera using G2 v3.4.3. The tests ran successfully.

Can I get a new tag with a new version of

[2022-01-10 21:01] kgerheiser commented on #200
Done

See v1.4.0

[2022-01-10 21:01] #200 closed, assigned to GeorgeGayno-NOAA

[2022-01-10 21:03] kgerheiser commented on #196
v1.4.0 has updated libraries

[2022-01-10 21:03] #196 closed, assigned to kgerheiser, edwardhartnett

[2022-01-10 21:04] kgerheiser commented on #193
gblevents was removed from w3emc, and w3emc and w3nco were combined.

[2022-01-10 21:04] #193 closed, assigned to nobody

[2022-02-11 15:37] maddenp opened #203 "Cannot create offline source tarball on ufs-v2.0.0 branch"
**Describe the bug**
`cmake -DDOWNLOAD_ONLY=ON .` as described in `README.md` on the `ufs-v2.0.0` branch does not work. A netCDF installation is demanded. If pointed to a netCDF installation, an ESMF installation is then demanded. netCDF and ESMF should not be required to download source code. This problem doesn't exist on the `develop` branch, but the contents of the `download` directory that bra

[2022-02-15 18:18] mickaelaccensi opened #204 "unable to get certificate for bufr.tar"
**Describe the bug**
curl is not able to get the certificate to download bufr.tar

**To Reproduce**
[ 97%] (curl) downloading https://ftp.emc.ncep.noaa.gov/static_files/public/bufr.tar
curl: (60) SSL certificate problem: unable to get local issuer certificate
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
estab

[2022-02-15 19:22] kgerheiser commented on #204
Could this be on your end, with your local certificates? I don't get this error. Alternatively, `-DBUILD_TESTS=OFF` in Bufr will disable the downloading of these files.

[2022-02-16 12:51] mickaelaccensi commented on #204
problem solved by setting environment variable CURL_CA_BUNDLE to the certificate file cacert.pem

[2022-02-16 12:51] #204 closed, assigned to nobody

[2022-02-16 13:17] edwardhartnett commented on #203
A better workaround it to download and install the libraries separately.

We are moving to a spack-based distribution, and the NCEPLIBS project will be retired...

[2022-04-15 16:46] NeilBarton-NOAA opened #205 "wgrib2 build error on mac M1"
The error message is

Undefined symbols for architecture arm64:
  "_jpc_decode", referenced from:
      _unpk_grib in unpk.c.o
  "_jpc_encode", referenced from:
      _enc_jpeg2000_clone in enc_jpeg2000_clone.c.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[6]: *** [wgrib2/wgrib2] Error 1
make[5]: *** [wgrib2/CM

[2022-04-15 17:26] edwardhartnett commented on #205
This is due to a change in the Jasper library starting with jasper 3.x. So a quick fix is to roll back to jasper-2.0.33.

The NCEPLIBS team is not supporting wgrib2, and we recommend that wgrib2 not be used in operational processing, due to instabilities and incompatibilities in it's build.

[2022-04-15 17:26] #205 closed, assigned to nobody

[2022-04-15 19:32] JeffBeck-NOAA commented on #205
@NeilBarton-NOAA, please let us know if the jasper change resolves your issue.  Thanks.  We're in the process of moving to g2 (instead of wgrib2), but it hasn't quite been completely implemented in UFS_UTILS.  Hopefully soon.

[2022-04-19 23:43] NeilBarton-NOAA commented on #205
Since wgrib2 is not needed for my application, I just compiled the other items. Also rolling back to an older version of jasper with brew was not as simple as expected.

However, I will not be revisiting this and this can be closed in my opinion

[2022-07-05 17:54] leneon314 opened #207 "Getting error when compiling NCEP libs"
**Describe the bug**
I followed the instructions to compile the libs but i'm getting an error. Could you please help, did I something wrong ?

-- Up-to-date: /home/ubuntu/tools/code/NCEPLIBS/output/bufr-11.5.0/tables/bufrtab.TableD_STD_0_24
-- Up-to-date: /home/ubuntu/tools/code/NCEPLIBS/output/bufr-11.5.0/tables/bufrtab.TableD_STD_0_25
-- Up-to-date: /home/ubuntu/tools/code/NCEPLIBS/output/bufr-1

[2022-08-26 12:11] edwardhartnett commented on #127
OK, here's an update on this discussion.

* Unit testing is now in place for g2c, g2, and g2tmpl. grib_util still needs unit tests.
* To reduce code duplication and deal with a Jasper issue, g2 now depends on g2c. The png and jpeg compression calls in g2 are now wrappers around the g2c versions of these functions.
* I am now adding code to g2c to read the XML code definition files from the WMO. Th